<div class="buttons-on-the-right-side">
	<a name="add-style" class="btn btn-default disabled" disabled>Importer un SLD depuis une ressource [TODO]</a>
	<a name="create-style" class="btn btn-default disabled" disabled>Créer un nouveau style [TODO]</a>
</div>
<div id="table-styles" class="table-responsive"></div>
<nav aria-label="Page navigation" style="text-align: center;">
	<ul id="table-styles-paginator" class="pagination pagination-sm"></ul>
</nav>
<div class="buttons-on-the-right-side">
	<button name="is-default-style" class="btn btn-warning">Définir comme style par défaut [TODO]</button>
	<button name="edit-style" class="btn btn-default">Editer</button>
	<button name="del-style" class="btn btn-danger">Supprimer [TODO]</button>
</div>

<script>
$(function() {
	var LAYER = {{ layer_asjson | safe }};
	var DEFAULT_STYLE = LAYER.styles.default;
	var STYLES = LAYER.styles.styles;
	var STYLES_CONTAINER = 'table-styles';
	var STYLES_METADATA = [
		{
			name: 'name',
			label: 'Nom',
			editable: false,
			datatype: 'string'
		}, {
			name: 'title',
			label: 'Titre',
			editable: false,
			datatype: 'string'
		}, {
			name: 'default',
			label: 'Style par défaut',
			editable: false,
			datatype: 'boolean'
		}
	];

	$('button[name="edit-style"]').on('click', function(e) {
		e.preventDefault();
		var row = tableGrid.getRowValues(tableGrid.lastSelectedRowIndex)['name']
		window.location = '#editor/' + (row.default ? 'default' : row.name);
		e.stopPropagation();
	});

	var tableGrid = new EditableGrid('Styles', {pageSize: 5});

	tableGrid.initializeGrid = function() {
		var grid = tableGrid;
		var $buttons = $($('#' + this.currentContainerid).parent().get(0)).find('button');

		with (this) {
			tableRendered = function() {
				this.updatePaginator(grid);
			};
			rowSelected = function(pRowIdx, nRowIdx) {
				$(grid.getRow(pRowIdx)).removeClass('selected');
				$buttons.each(function() {
					deactivateButton($(this));
				});
				if (pRowIdx != nRowIdx) {
					window.location = '#styles/' + getRowValues(nRowIdx).name;
					$(grid.getRow(nRowIdx)).addClass('selected');
					$buttons.each(function() {
						if (!((this.name == 'del-style' || this.name == 'is-default-style') && getRowValues(nRowIdx).default)) {
							activateButton($(this));
						};
					});
				};
			};
			const BooleanRenderer = function(cell, value) {
				cell.style.textAlign = 'center';
				cell.innerHTML = (value == true) ? '<span class="glyphicon glyphicon-ok"></span>' : '';
			};
			setCellRenderer('default', new CellRenderer({render: BooleanRenderer}));
		};
	};

	function updateTableGrid(grid, containerId, metadata, data) {
		var $containerId = $('#' + containerId);
		var $parent = $($containerId.parent().get(0));
		$parent.find('div[role="alert"]not:div[name="message-tags"]').remove();
		$parent.find('button').each(function() {
			deactivateButton($(this));
		});
		if (data.length > 0) {
			grid.load({'metadata': metadata, 'data': data});
			grid.renderGrid(containerId, 'table table-striped table-bordered table-hover table-condensed');
			grid.initializeGrid();
			grid.refreshGrid();
			$containerId.show();
		} else {
			$containerId.hide();
		};
	};

	updateTableGrid(
		tableGrid,
		STYLES_CONTAINER,
		STYLES_METADATA,
		(function(data) {
			var m = [];
			for (var i = 0; i < data.length; i ++) {
				m.push({
					id: i,
					values: [
						data[i]['name'] == 'default' ? DEFAULT_STYLE : data[i]['name'],
						data[i]['text'],
						data[i]['name'] == 'default' ? true : false
					]
				});
			};
			return m;
		})(STYLES)
	);

});
</script>
