{% load bootstrap3 %}
{% load static %}

<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<ul id="menu" class="nav nav-default" role="tablist">
				<!-- <li role="presentation">
					<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Accueil</a>
				</li> -->
				<li role="presentation">
					<a href="#datasets" aria-controls="datasets" role="tab" data-toggle="tab">Mes jeux de données</a>
				</li>
				<li role="presentation">
					<a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">Gestion des droits d'accès</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="main-container">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="tab-content">
					<!-- <div id="home" role="tabpanel" class="tab-pane fade in">
					</div> -->
					<div id="datasets" role="tabpanel" class="tab-pane fade in">
						<div id="table-resources" class="table-responsive"></div>
						<div class="buttons-on-the-right-side">
							<button name="delete-dataset" class="btn btn-danger" data-toggle="modal" data-target="#modal">Supprimer <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							<button name="modify-dataset" class="btn btn-default">Modifier</button>
							<a name="add-dataset" class="btn btn-default" href="{% url "idgo_admin:dataset" %}">Nouveau</a>
						</div>
					</div>
					<div id="rules" role="tabpanel" class="tab-pane fade in">
						<!-- TODO -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var DATASETS = {{ datasets | safe }},
	IS_CONTRIBUTOR = {{ is_contributor | safe }},
	DATASET_URL = '{% url "idgo_admin:dataset" %}',
	CONTRIBUTE_URL = '{% url "profiles:publish_request" %}';
</script>
<script src="{% static "js/main.js" %}"></script>
