{% load bootstrap3 %}

<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<span class="title"><a href="{% url "profiles:main" %}">Back-Office IDGO</a></span>
				<span class="username">{{ first_name}} {{ last_name }}</span>
				<div class="btn-group login">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></button>
					<ul name="my-account-menu" class="dropdown-menu dropdown-menu-right">
						<li style="text-align: left"><a href="{% url "profiles:modifyAccount" %}">Mon compte</a></li>
						<li style="text-align: left"><a href="{% url "profiles:contributions" %}">Mes organismes (pour lesquels je contribue)</a></li>
						<li style="text-align: left"><a href="{% url "profiles:publish_request" %}">Ajouter un organisme auquel contribuer</a></li>
						<li style="text-align: left"><a href="{% url "profiles:deleteAccount" %}">Supprimer mon compte</a></li>
						<li style="text-align: left"><a href="{% url "profiles:signOut" %}">Se déconnecter</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
