{% load bootstrap3 %}

<h2 class="modal-title">Mes organismes</h2>
<p>Organismes pour lesquels vous avez le droit de publier des jeux de données.</p>
<br/>
<ul class="list-group">
	{% for organization in my_profile.publish_for.all %}
	<li class="list-group-item">{{ organization }}</li>
	{% empty %}
	<div role="alert" class="alert alert-warning">
		<p>Vous n'êtes contributeur d'aucun organisme. Pour devenir contributeur, vous devez <a href="{% url "profiles:publish_request" %}">ajouter un organisme auquel contribuer</a></p>
	</div>
	{% endfor %}
</ul>
<div class="buttons-on-the-right-side">
	<a class="btn btn-default" href="{% url "profiles:home" %}">Revenir</a>
</div>
