{% load bootstrap3 %}

<h2 class="modal-title">Nouvelle demande de contribution</h2>
<p>Toute demande de rattachement à un organisme est soumise à validation de l'administrateur du site.</p>
<br/>
<form>
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group" name="organization">
					<input type="text" class="form-control" placeholder="Rechercher l'organisme...">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</form>
<form method="post" action="">
	<div class="btn-group-vertical btn-block scrolling-box"  style="height: 205px;" data-toggle="buttons">
		{% for choice in pform.publish_for %}
		<div class="btn btn-radio">{{ choice }}</div>
		{% endfor %}
	</div>
	<div class="buttons-on-the-right-side">
		<a class="btn btn-default" href="{% url "profiles:home" %}">Annuler</a>
		<button type="submit" class="btn btn-primary disabled" disabled=True>Envoyer la demande</button>
	</div>
</form>
<script>
$(function() {
	var $radioInputs = $('form input:radio');
	$('div[name="organization"] button[type="button"]').click(function() {
		$radioInputs.each(function() {
			var $entry = $(this).parent();
			var $container = $('div.scrolling-box');
			if ($entry.text().trim().toLowerCase().startsWith($('div[name="organization"] input[type="text"]').val().trim().toLowerCase())) {
				$container.animate({
					scrollTop: $entry.offset().top - $container.offset().top + $container.scrollTop() - 7
				}, 606);
			};
		});
	});
	var $submit = $('form button[type="submit"]');
	$radioInputs.change(function() {
		if ($('div.btn-radio').hasClass('active')) {
			$submit.removeClass('disabled').prop('disabled', false);
		} else {
			$submit.addClass('disabled').prop('disabled', true)
		};
	});
});
</script>
