<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>IDGO</title>

		{% load static %}

		<script type="text/javascript" src="{% static "libs/jquery/jquery-3.2.1.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "css/main.css" %}" />

		{% load bootstrap3 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		{% bootstrap_messages %}

	</head>
	<body>
		<div class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<span class="title">Back-Office IDGO</span>
						<div class="btn-group login">
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-user"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="{% url "profiles:modifyAccount" %}">Mon compte</a></li>
								<li><a href="{% url "profiles:deleteAccount" %}">Supprimer mon compte</a></li>
								<li><a href="{% url "profiles:signOut" %}">Se déconnecter</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<ul id="menu" class="nav nav-default" role="tablist">
						<li role="presentation" class="active">
							<a href="#md" aria-controls="md" role="tab" data-toggle="tab">CRUD MD / Ress.</a>
						</li>
						<li role="presentation">
							<a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">CRUD Droits accès</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-container">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="md">
								<span><a href="{% url 'idgo_admin:dataset' %}">Gestion des jeux de données</a></span>
							</div>
							<div role="tabpanel" class="tab-pane fade in active" id="md">
								<span>foo</span>
							</div>
							<div role="tabpanel" class="tab-pane fade in" id="rules">
								<span>bar</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
