<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>IDGO</title>

		{% load static %}

		<script type="text/javascript" src="{% static "libs/jquery/jquery-3.2.1.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "css/main.css" %}" />

		{% load bootstrap3 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		{% bootstrap_messages %}

	</head>
	<body>
		<div class="container-fluide outer">
			<div class="row middle">
				<div class="col-sm-offset-2 col-md-offset-4 col-sm-8 col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3>IDGO</h3>
							<h4>Connexion</h4>
						</div>
						<div class="panel-body">
							<form method="post" action="">
								{% csrf_token %}
								{% bootstrap_field uform.username show_label=False %}
								{% bootstrap_field uform.password show_label=False %}
								<button type="submit" class="btn btn-block btn-primary">Se connecter</button>
								<a class="btn btn-block btn-link" href="{% url "signUp" %}">Pas encore de compte ?</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
