<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ context }}</title>
</head>
<body>

{% load bootstrap3 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<form action="" method="post" class="form">
    {% csrf_token %}

<div class="container-fluid">
  <h1>{% bootstrap_label context %}</h1>

  <div class="row">
    <div class="col-sm-6">
        {# Display a uform #}
        <form action="" method="post" class="form-inline">
        <div class="form-group" >
            {% bootstrap_form uform %}
        </div>
        </form>
    </div>

    <div class="col-sm-6">
        {%if pform is not None %}
        <div class="form-group" >
            {% bootstrap_form pform  %}
        </div>
        {% endif%}
    </div>
  </div>

    <div class="row">
      <div class="col-sm-2">
          {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
      </div>
</div>
</div>
</form>

</body>
</html>

