{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}

{% block breadcrumb_content %}
<ol class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span>
	</li>
	<li>
		<a href="{% url "idgo_admin:all_organizations" %}{% if id %}#{{ id }}{% endif %}">Organisations</a>
	</li>
	<li class="active">
		{% if id %}
		<a href="{% url "idgo_admin:update_organization" id=id %}">{{ organisation_name }}</a>
		{% else %}
		Nouvelle organisation
		{% endif %}
	</li>
</ol>
{% endblock breadcrumb_content %}

{% block main_content %}

{% include "idgo_admin/alert_messages.html" %}

<form method="post" action="" enctype="multipart/form-data" class="well">
	{% if id and user.profile.is_admin %}
	<div class="buttons-on-the-right-side">
		<a class="btn btn-tertiary" href="{% url "idgo_admin:edit_remote_ckan_link" id=id %}">Synchroniser avec un catalogue CKAN</a>
	</div>
	<br />
	{% endif %}
	<div class="row">
		<div class="col-sm-12">
			{% bootstrap_field form.name %}
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-6">
			<label>Contact</label>
			<div class="row">
				<div class="col-xs-12">
					{% bootstrap_field form.address show_label=False %}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					{% bootstrap_field form.postcode show_label=False %}
				</div>
				<div class="col-xs-6">
					{% bootstrap_field form.city show_label=False %}
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div class="col-sm-12">
					{% bootstrap_field form.logo %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-md-3">
			{% bootstrap_field form.phone show_label=False %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-md-4">
			{% bootstrap_field form.email show_label=False %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 col-md-4">
			{% bootstrap_field form.website show_label=False %}
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-12">
			{% bootstrap_field form.description show_label=True %}
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-10 col-sm-6">
			{% bootstrap_field form.organisation_type %}
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-10 col-sm-6">
			{% bootstrap_field form.license %}
		</div>
	</div>
	{% bootstrap_field form.rattachement_process show_label=False %}
	{% bootstrap_field form.contributor_process show_label=False %}
	{% bootstrap_field form.referent_process show_label=False %}
	<br />
	<div class="buttons-on-the-right-side">
		<a class="btn btn-default" href="{% url "idgo_admin:all_organizations" %}#{{ id }}">Annuler</a>
		{% if update %}<button type="submit" name="continue" class="btn btn-default">Enregistrer et continuer les modifications</button>{% endif %}
		<button type="submit" name="save" class="btn btn-primary">Enregistrer</button>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<small>* Les champs marqués d'un astérisque sont obligatoires.</small>
		</div>
	</div>
</form>
<script>
$(function() {
	const $inputMember = $('input[name="{{ form.member_requested.name }}"]').prop('checked', false);
	const $inputContribution = $('input[name="{{ form.contribution_requested.name }}"]').prop('checked', false);
	const $inputReferent = $('input[name="{{ form.referent_requested.name }}"]').prop('checked', false).change(function() {
		this.checked ? $inputContribution.prop('checked', true).prop('disabled', true) : $inputContribution.prop('checked', true).prop('disabled', false);
	});

	$('#menu a[href="{% url "idgo_admin:all_organizations" %}"]').parent().addClass('active');
});
</script>
{% endblock main_content %}
