{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}

{% block breadcrumb_content %}
<ol class="breadcrumb">
	<li><span class="glyphicon glyphicon-home"></span></li>
	<li class="active">Organisations</li>
</ol>
{% endblock breadcrumb_content %}

{% block main_content %}
<template id="organisation_well_template">
	<div>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#info" aria-controls="info" role="tab" data-toggle="tab">Informations générales</a>
			</li>
			<li role="presentation">
				<a href="#members" aria-controls="members" role="tab" data-toggle="tab">Utilisateurs</a>
			</li>
			<li role="presentation">
				<a href="#service" aria-controls="service" role="tab" data-toggle="tab">Service OGC</a>
			</li>
		</ul>
		<div class="tab-content well">
			<div role="tabpanel" class="tab-pane active" id="info">
				<div class="tab-pane-content">
					<div class="row">
						<div class="col-sm-9">
							<div class="row">
								<div class="col-sm-12">
									<h3 name="legal_name"></h3>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<h4><span class="crige-partner-badge" hidden></span></h4>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<img name="logo" alt="" src="/static/img/logo_default_organisation.png"></img>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p name="description"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 contact">
							<div>TERRITOIRE DE COMPÉTENCE</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<hr />
							<span name="jurisdiction"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 contact">
							<div>CONTACT</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<hr />
							<address>
								<span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span name="address"></span><br />
								<span class="glyphicon glyphicon-home" style="color: transparent;" aria-hidden="true"></span> <span name="postcode"></span> <span name="city"></span><br />
								<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <span name="phone"></span><br />
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:#" name="email"></a><br />
								<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a target="_blank" name="website"></a><br />
							</address>
						</div>
						<div class="col-sm-6">
							<button role="button" name="switch-member" class="btn btn-default btn-block">J'appartiens à l'organisation</button>
							<button role="button" name="switch-contributor" class="btn btn-default btn-block">Je souhaite devenir contributeur</button>
							{% if not is_admin %}<button role="button" name="switch-referent" class="btn btn-default btn-block">Je souhaite devenir référent technique</button>{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="members">
				<div class="tab-pane-content">
					<div id="table-members" class="table-responsive"></div>
					<nav aria-label="Page navigation" style="text-align: center;">
						<ul id="table-members-paginator" class="pagination pagination-sm"></ul>
					</nav>
					<div class="buttons-on-the-right-side">
						{% if user.profile.is_crige_admin %}
						<!-- <button role="button" name="send-mail-to-crige-member" class="btn btn-default">Envoyer un e-mail aux membres CRIGE</button> -->
						{% endif %}
						<button role="button" name="ckan-card" class="btn btn-default">Ouvrir la fiche Ckan</button>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Supprimer un statut <span class="glyphicon glyphicon-triangle-bottom" style="top: 0.2em"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a role="button" name="delete-member" style="text-align: right;" data-toggle="modal" data-target="#modal">Supprimer le statut de membre</a></li>
								<li><a role="button" name="delete-contributor" style="text-align: right;" data-toggle="modal" data-target="#modal">Supprimer le statut de contributeur</a></li>
								<li><a role="button" name="delete-referent" style="text-align: right;" data-toggle="modal" data-target="#modal">Supprimer le statut de référent technique</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="service">
				<div class="tab-pane-content">
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label for="ows-onlineresource">URL du service</label>
								<div class="form-control-static">
									<a id="ows-url" target="_blank"></a>
								<div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label for="ows-title">Titre</label>
								<input class="form-control" id="ows-title"></input>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label for="ows-abstract">Description</label>
								<textarea class="form-control" id="ows-abstract" rows=6></textarea>
							</div>
						</div>
					</div>
					<div class="buttons-on-the-right-side">
						{% if user.profile.crige_membership %}
						<!-- <button type="button" name="ows-meta" class="btn btn-default">Éditer la fiche de métadonnées de service INSPIRE</button> -->
						{% endif %}
						<button type="button" name="ows-save" class="btn btn-primary">Enregistrer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

{% include "idgo_admin/alert_messages.html" %}

<div id="allorganisations">
{% if awaiting_member_status or awaiting_contributor_status|length > 0 or awaiting_referent_statut|length > 0 %}
	{% if awaiting_member_status|length > 0 %}
	<div class="alert alert-info">
		<p><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>Demande de <strong>rattachement</strong> à l'organisation « <strong>{{ awaiting_member_status.1 }}</strong> » en attente de validation.</p>
	</div>
	{% endif %}
	{% if awaiting_contributor_status|length > 0 %}
	<div class="alert alert-info">
		<p><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>Demande(s) de statut de <strong>contributeur</strong> en attente de validation pour : {% for organisation in awaiting_contributor_status %}<strong class="comma-separated-list">{{ organisation.1 }}</strong>{% endfor %}</p>
	</div>
	{% endif %}
	{% if awaiting_referent_statut|length > 0 %}
	<div class="alert alert-info">
		<p><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>Demande(s) de statut de <strong>référent technique</strong> en attente de validation pour : {% for organisation in awaiting_referent_statut %}<strong class="comma-separated-list">{{ organisation.1 }}</strong>{% endfor %}</p>
	</div>
	{% endif %}
{% endif %}

{% if not organisations|length %}
	<div class="alert alert-warning" role="alert">
		<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>Aucune organisation n'est encore disponible, <a href='{% url "idgo_admin:create_organisation" %}'>ajoutez une organisation</a>.
	</div>
{% else %}
	<div class="row">
		<div class="col-md-4">
			<div class="input-group typeahead">
				<input name="organisation" type="text" class="form-control" placeholder="Rechercher l'organisation..."></input>
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary disabled" disabled>
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
		<div class="col-md-8">
			<div class="buttons-on-the-right-side">
				<a href='{{ crige_url }}' target="_blank"  class="btn btn-link"><span class="glyphicon glyphicon-info-sign"></span></a>
				<a href='{% url "idgo_admin:create_organisation" %}' class="btn btn-primary">Ajouter une organisation</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="btn-group-vertical btn-block scrolling-box well" data-toggle="buttons" style="min-height: 500px; padding: 0;">
				{% for item in organisations %}
				<label for="id_organisation_{{ item.pk }}" class="btn btn-radio">
					<span class="label-name">{{ item.legal_name }}</span>
					<span class="label-badges">
						{% if item.contributor %}<span class="badge badge-circle"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>{% endif %}
						{% if item.referent %}<span class="badge badge-circle"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></span>{% endif %}
						{% if item.member %}<span class="badge badge-circle"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>{% endif %}
					</span>
					<input type="radio" name="organisations" value="{{ item.pk }}" id="id_organisation_{{ item.pk }}"></input>
				</label>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-8">
			<div id="organisation_well">
				<!-- template -->
			</div>
		</div>
	</div>
</div>

<script>
$(function() {

	const openModalDelete = function(organisationId, username, target) {
		const $button = $('<button/>')
			.prop('type', 'button')
			.prop('class', 'btn btn-danger disabled')
			.prop('disabled', true)
			.text('Oui, je confirme')
			.on('click', function(e) {
				e.preventDefault();
				closeAllModalDialog();
				$.ajax({
					type: 'DELETE',
					url: '{% url "idgo_admin:all_members" %}?organisation=' + organisationId + '&username=' + username + '&target=' + target
				})
				.done(function(response, textStatus, jqXHR) {
					location.reload();
				})
				.fail(function(jqXHR, textStatus, errorThrown) {
					location.reload();
				});
				e.stopPropagation();
			});

		const $input = $('<input/>')
			.prop('type', 'text')
			.prop('class', 'form-control')
			.prop('placeholder', 'Nom du compte de l\'utilisateur')
			.on('input', function(e) {
				if ($(this).val() === username) {
					$button.removeClass('disabled').prop('disabled', false);
				} else {
					$button.addClass('disabled').prop('disabled', true);
				};
			});

		$modal.find('.modal-title').text('Êtes-vous absolument sûr ?');
		$modal.find('.modal-body')
			.append($('<form/>')
				.append($('<div/>').prop('class', 'form-group')
					.append('<p>Pour confirmer, veuillez réécrire le nom du compte de l\'utilisateur.</p>').append($input))
				.append($('<div class="buttons-on-the-right-side">')
					.append($button).append('<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>')));

		$modal.modal('show');
	};

	const openModalChangeStatus = function(baseUrl, organisationId) {
		const $button = $('<button/>')
			.prop('type', 'button')
			.prop('class', 'btn btn-primary')
			.text('Oui, je confirme ma demande')
			.one('click', function(e) {
				e.preventDefault();
				closeAllModalDialog();
				$.ajax({
					type: 'GET',
					url: baseUrl + '?id=' + organisationId
				})
				.done(function(response, textStatus, jqXHR) {
					location.reload();
				})
				.fail(function(jqXHR, textStatus, errorThrown) {
					location.reload();
				});
				e.stopPropagation();
			});

			$modal.find('.modal-title').text('Confirmation de votre demande');
			$modal.find('.modal-body')
				.append($('<form/>')
					.append($('<div/>').prop('class', 'form-group')
						.append('<p>Pour confirmer, veuillez cliquer sur le bouton ci-dessous.</p>'))
					.append($('<div class="buttons-on-the-right-side">')
						.append($button).append('<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>')));

		$modal.modal('show');
	};

	const displayOrganisation = function(data) {

		const ORGANISATION_ID = data.id;

		const isReferent = function() {
			{% for item in referent %}
			if (ORGANISATION_ID == {{ item.0 }}) {
				return true;
			};
			{% endfor %}
			return false;
		};

		const $template = $('#organisation_well_template');
		const $content = $($template.prop('content')).clone();
		const $organisationWell = $('#organisation_well').empty()

		for (const k in data) {
			if (k == 'website') {
				$content.find('[name="' + k + '"]').prop('href', data[k]);
			}
			else if (k == 'email') {
				$content.find('[name="' + k + '"]').prop('href', 'mailto:' + data[k] + '?subject={{ platform_name }}');
			}
			else if (k == 'logo') {
				$content.find('[name="' + k + '"]').prop('src', data[k]);
			}
			else if (k == 'jurisdiction') {
				var _content = '';
				if (data[k]) {
					_content = data[k];
				} else {
					_content = "<p>L'organisation n'est rattachée à aucun territoire de compétence.</p>";
					if (isReferent()) {
						_content += "<p>Vous pouvez en faire la demande en éditant l'organisation.</p>";
					};
				};
				$content.find('[name="' + k + '"]').html(_content);
			}
			else {
				$content.find('[name="' + k + '"]').text(data[k]);
			};
		};

		if (data.crige == true) {
			$content.find('.crige-partner-badge').prop('hidden', false);
		} else {
			if (isReferent()) {
				const $crigePartnerButton = $('<button />')
					.prop('role', 'button')
					.addClass('btn btn-default')
					.text('Demander à être partenaire CRIGE')
					.off('click')
					.on('click', function() {
						openModalChangeStatus('{% url "idgo_admin:crige_partnership" %}', ORGANISATION_ID);
					})
				$content
					.find('.crige-partner-badge')
					.after($crigePartnerButton);
			};
		};

		$organisationWell.append($content);

		if (data.members.length > 0) {

			const $ckanUserCard = $($organisationWell.find('button[name="ckan-card"]'));
			const $btnGroup = $($organisationWell.find('#members .btn-group'));
			const $dropdownButton = $($organisationWell.find('#members .btn-group>button.dropdown-toggle'));
			const $deleteMember = $($btnGroup.find('a[name="delete-member"]'));
			const $deleteContributor = $($btnGroup.find('a[name="delete-contributor"]'));
			const $deleteReferent = $($btnGroup.find('a[name="delete-referent"]'));

			deactivateButton($ckanUserCard);
			deactivateButton($dropdownButton);
			deactivateButton($deleteMember);
			deactivateButton($deleteReferent);
			deactivateButton($deleteContributor);

			const membersGrid = new EditableGrid('Members', {pageSize: 10});

			const tableId = 'table-members';
			const $table = $('#' + tableId);
			const $parent = $($table.parent());

			membersGrid.initializeGrid = function() {
				const grid = this;

				grid.tableRendered = function(tableId, className) {
					grid.rowSelected(-1, -1);
					grid.updatePaginator(this);
				};

				grid.rowSelected = function(pRowIdx, nRowIdx) {
					$(grid.getRow(pRowIdx)).removeClass('selected');

					deactivateButton($deleteMember);
					deactivateButton($deleteMember);
					deactivateButton($deleteContributor);
					deactivateButton($deleteReferent);
					deactivateButton($dropdownButton);

					const data = grid.getRowValues(nRowIdx);

					if (nRowIdx > -1) {

						$ckanUserCard.off('click').on('click', function(e) {
							targetBlank('{{ ckan_url }}/user/' + data.username);
						});

						$deleteMember.off('click').on('click', function(e) {
							openModalDelete(ORGANISATION_ID, data.username, 'members');
						});

						$deleteContributor.off('click').on('click', function(e) {
							openModalDelete(ORGANISATION_ID, data.username, 'contributors');
						});

						$deleteReferent.off('click').on('click', function(e) {
							openModalDelete(ORGANISATION_ID, data.username, 'referents');
						});

						if (pRowIdx != nRowIdx) {
							$(this.getRow(nRowIdx)).addClass('selected');
							activateButton($ckanUserCard);
							if (!data.is_referent && (isReferent()) || {{ is_admin | yesno:'true,false,null' }})  {
								data.is_member ? activateButton($deleteMember) : deactivateButton($deleteMember);
								data.is_contributor ? activateButton($deleteContributor) : deactivateButton($deleteContributor);
								data.is_referent ? activateButton($deleteReferent) : deactivateButton($deleteReferent);
								(data.is_member || data.is_contributor || data.is_referent) ? activateButton($dropdownButton) : deactivateButton($dropdownButton);
							};
						};

					};
				};

				const booleanRender = function(cell, value) {
					cell.style.textAlign = 'center';
					cell.style.width = '32px';
					cell.innerHTML = (value == true) ? '<span class="glyphicon glyphicon-ok"></span>' : '';
				};

				grid.setCellRenderer('is_member', new CellRenderer({render: booleanRender}));
				grid.setCellRenderer('is_contributor', new CellRenderer({render: booleanRender}));
				grid.setCellRenderer('is_referent', new CellRenderer({render: booleanRender}));
				{% if user.profile.is_crige_admin %}
				grid.setCellRenderer('is_crige_member', new CellRenderer({render: booleanRender}));
				{% endif %}
			};

			membersGrid.load({
				'metadata': [
					{
						name: 'username',
						label: 'Utilisateur',
						editable: false,
						datatype: 'string'
					}, {
						name: 'full_name',
						label: 'Nom',
						editable: false,
						datatype: 'string'
					}, {
						name: 'is_member',
						label: 'Membre',
						editable: false,
						datatype: 'boolean'
					}, {
						name: 'is_contributor',
						label: 'Contributeur',
						editable: false,
						datatype: 'boolean'
					}, {
						name: 'is_referent',
						label: 'Référent',
						editable: false,
						datatype: 'boolean'
					}, {
					{% if user.profile.is_crige_admin %}
						name: 'is_crige_member',
						label: 'CRIGE',
						editable: false,
						datatype: 'boolean'
					}, {
					{% endif %}
						name: 'datasets_count',
						label: 'Jeux de données',
						editable: false,
						datatype: 'integer'
					}, {
						name: 'id',
						label: '_HIDDEN',
						editable: false,
						datatype: 'integer'
					}
				],
				'data': (function(data) {
					const m = [];
					for (var i in data) {
						m.push({
							id: i,
							values: [
								data[i].username,
								data[i].full_name,
								data[i].is_member,
								data[i].is_contributor,
								data[i].is_referent,
								{% if user.profile.is_crige_admin %}data[i].crige_membership,{% endif %}
								data[i].datasets_count,
								data[i].profile_id
							]
						});
					};
					return m;
				})(data.members)
			});

			membersGrid.renderGrid(tableId, 'board table table-striped table-bordered table-hover table-condensed');
			membersGrid.initializeGrid();
			membersGrid.refreshGrid();

			$table.show();

		} else {
			$organisationWell.find('#members .tab-pane-content .buttons-on-the-right-side').hide();
			$organisationWell.find('#members .tab-pane-content').prepend('<div role="alert" class="alert alert-info">Aucun utilisateur.<div/>');
		};

		$switchMember = $($organisationWell.find('#info [name="switch-member"]')).on('click', function(e) {
			openModalChangeStatus('{% url "idgo_admin:subscription" status="member" subscription="subscribe" %}', ORGANISATION_ID);
		});
		if ({{ awaiting_member_status | length }} > 0) {
			deactivateButton($switchMember.off('click'));
		} else if (data['id'] == {{ organisation.pk }}) {
			$switchMember.off('click').on('click', function(e) {
				openModalChangeStatus('{% url "idgo_admin:subscription" status="member" subscription="unsubscribe" %}', ORGANISATION_ID);
			}).html('Je <strong>n</strong>\'appartiens <strong>plus</strong> à l\'organisation');
		};

		$switchContributor = $($organisationWell.find('#info [name="switch-contributor"]')).on('click', function(e) {
			openModalChangeStatus('{% url "idgo_admin:subscription" status="contributor" subscription="subscribe" %}', ORGANISATION_ID);
		});

		const buttonContributorStatus = function() {
			{% for item in contributor %}
			if (data['id'] == {{ item.0 }}) {
				$switchContributor.off('click').on('click', function(e) {
					openModalChangeStatus('{% url "idgo_admin:subscription" status="contributor" subscription="unsubscribe" %}', ORGANISATION_ID);
				}).html('Je <strong>ne</strong> souhaite <strong>plus</strong> être contributeur');
			};
			{% endfor %}
		};

		{% if awaiting_contributor_status %}
			{% for item in awaiting_contributor_status %}
		data['id'] == {{ item.0 }} ? deactivateButton($switchContributor.off('click')) : buttonContributorStatus();
			{% endfor %}
		{% else %}
		buttonContributorStatus();
		{% endif %}

		$switchReferent = $($organisationWell.find('#info [name="switch-referent"]')).on('click', function(e) {
			openModalChangeStatus('{% url "idgo_admin:subscription" status="referent" subscription="subscribe" %}', ORGANISATION_ID);
		});

		const addUpdateButton = function(href) {
			$('#organisation_well').prepend('<div class="floating-buttons-on-the-right-side"><a href="' + href + '" name="edit" type="button" class="btn btn-default">Éditer l\'organisation</a></div>');
		};

		{% if not is_admin %}
		const buttonReferentStatus = function() {
			{% for item in referent %}
			if (data['id'] == {{ item.0 }}) {
				addUpdateButton('{% url "idgo_admin:update_organisation" id=item.0 %}');
				$switchReferent.off('click').on('click', function(e) {
					openModalChangeStatus('{% url "idgo_admin:subscription" status="referent" subscription="unsubscribe" %}', ORGANISATION_ID);
				}).html('Je <strong>ne</strong> souhaite <strong>plus</strong> être référent technique');
			};
			{% endfor %}
		};

			{% if awaiting_referent_statut %}
				{% for item in awaiting_referent_statut %}
		data['id'] == {{ item.0 }} ? deactivateButton($switchReferent.off('click')) : buttonReferentStatus();
				{% endfor %}
			{% else %}
		buttonReferentStatus();
			{% endif %}
		{% endif %}

		{% if is_admin %}
			{% for item in referent %}
			if (data['id'] == {{ item.0 }}) {
				addUpdateButton('{% url "idgo_admin:update_organisation" id=item.0 %}');

				$('button[name="ows-meta"]')
					.on('click', function(e) {
						e.preventDefault();
						redirect('{% url "idgo_admin:service_mdedit" id=item.0 %}');
						e.stopPropagation();
					});
			};
			{% endfor %}
		{% endif %}

		if (data.osw) {
			$('#ows-title').val(data.osw.title);
			$('#ows-abstract').val(data.osw.abstract);
			$('#ows-url').attr('href', data.osw.url).text(data.osw.url);
			if (!(isReferent() || {{ is_admin | yesno:'true,false,null' }})) {
				$('#ows-title').prop('disabled', true).addClass('disabled');
				$('#ows-abstract').prop('disabled', true).addClass('disabled');
				$('button[name=ows-meta]').remove();
				$('button[name=ows-save]').remove();
			} else {
				$('button[name="ows-meta"]')
					.on('click', function(e) {
						e.preventDefault();
						redirect('{% url "idgo_admin:mdhandler" type="service" %}?id=' + ORGANISATION_ID);
						e.stopPropagation();
					});

				$('button[name=ows-save]').click(function(e) {
					e.preventDefault();
					$.ajax({
						type: 'POST',
						url: '{% url "idgo_admin:organisation_ows" %}?id=' + ORGANISATION_ID,
						data: {
							'title': $('#ows-title').val(),
							'abstract': $('#ows-abstract').val()
						},
						success: function(data, status, xhr) {
							location.reload();
						},
						error: function(xhr, statut, error) {
							location.reload();
						}
					});
				});
			};
		} else {
			$('li[role="presentation"]>a[href="#service"]').prop('href', '#').parent('li').addClass('disabled').prop('disabled', true);
			$('#service.tab-pane[role="tabpanel"]').empty();
		};

	};

	const getOrganisation = function(id, onSuccess, onFailure) {
		$.ajax({
			url: '{{ organisation_base_url }}/' + id,
			success: function(data, status, xhr) {
				onSuccess(data);
			},
			error: function(xhr, statut, error) {
				onFailure(xhr, statut, error);
			}
		});
	};

	const onGetOrganisationSuccess = function(data) {
		window.location.hash = data.id;
		$organisations.val([data.id]);
		displayOrganisation(data);
		$('input[type=radio][name=organisations][value=' + data.id + ']').parent().addClass('active');
	};

	const handler = function(value) {

		const $container = $('div.scrolling-box');

		var $prev = undefined;
		const prev = $('input[type=radio][name=organisations]:checked').val();
		if (prev) {
			$prev = $('input[type=radio][name=organisations][value=' + prev + ']').parent().removeClass('active');
		};

		var $next = undefined;
		const next = value;
		if (next) {
			$next = $('input[type=radio][name=organisations][value=' + next + ']').parent();
		};

		const onSuccess = function(data, status, xhr) {
			$container.animate({
				scrollTop: $next.offset().top - $container.offset().top + $container.scrollTop() - 7
			}, 303, undefined, function() {
				$modalHourglass.one('hidden.bs.modal', function(e) {
					onGetOrganisationSuccess(data);
				}).modal('hide');
			});
		};

		const onFailure = function(xhr, statut, error) {
			$modalHourglass.one('hidden.bs.modal', function(e) {
				if (prev) {
					$prev.addClass('active');
				};
			}).modal('hide');
		};

		$modalHourglass.one('shown.bs.modal', function(e) {
			getOrganisation(next, onSuccess, onFailure);
		}).modal('show');

	};

	// const $typeahead = $('.typeahead input[name="organisation"]')
	// 	.on('input', function(e) {
	// 		this.value.length > 0 ? activateButton($typeaheadButton) : deactivateButton($typeaheadButton);
	// 	})
	// 	.typeahead({
	// 		source: (function() {
	// 			var arr = [];
	// 			{% for item in organisations %}
	// 			arr.push({'id': {{ item.pk }}, 'name': '{{ item.legal_name }}'});
	// 			{% endfor %}
	// 			return arr;
	// 		})(),
	// 		autoSelect: true,
	// 		fitToElement: true,
	// 		afterSelect: function(val) {
	// 			deactivateButton($typeaheadButton);
	// 			handler(val.id);
	// 			// selectRowByDataId(val.id);
	// 		}
	// 	});

	// const $typeaheadButton = $('.typeahead button').click(function(e) {
	// 	const selected = $typeahead.typeahead("getActive");
	// 	selected && selectRowByDataId(selected['id']);
	// });

	// $.each($('.label-name'), function() {
	// 	$(this).width("calc(100% - " + ($(this).next('.label-badges').width() + 5) + "px)");
	// })
	//
	// const $organisations = $('label, input[type=radio][name=organisations]').bind('mouseup change click', function(e) {
	// 	e.stopPropagation();
	// }).mousedown(function(e) {
	// 	handler($(this).children('input').val());
	// });

	$(window).bind('hashchange', function(e) {
		// TODO
	});

	handler(window.location.hash.substring(1) ? window.location.hash.substring(1) : $('input[type=radio][name=organisations]').first().val());

	$('#menu a[href="{% url "idgo_admin:all_organisations" %}"]').parent().addClass('active');

});
</script>
{% endif %}
{% endblock main_content %}
