<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label for="ows-onlineresource">URL du service</label>
			<div class="form-control-static">
				<a id="ows-url" target="_blank"></a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label for="ows-title">Titre</label>
			<input class="form-control" id="ows-title"></input>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="form-group">
			<label for="ows-abstract">Description</label>
			<textarea class="form-control" id="ows-abstract" rows=6></textarea>
		</div>
	</div>
</div>
<div class="buttons-on-the-right-side">
	{% if user.profile.crige_membership %}
	<!-- <button type="button" name="ows-meta" class="btn btn-default">Éditer la fiche de métadonnées de service INSPIRE</button> -->
	{% endif %}
	<button type="button" name="ows-save" class="btn btn-primary">Enregistrer</button>
</div>
