/*
 * red    #ff554f
 * green  #12be72
 * blue   #002880
 * yellow #ffce59
 */

a.small-link {
    font-size: .9em;
    font-weight: normal;
}

html {
    min-width: 767px;
}

body {
    color: #333;
}

br {
    line-height: 300%;
}

img {
    -webkit-user-select: none;
            user-select: none;
}

label:focus,
label.focus {
    outline: none !important;
}

input[type=color] {
    padding: 0 2px;
}

select[multiple] {
    border-radius: 2px;
}


.tab-pane-content {
    margin-top: 15px;
}

.text-is-red {
    color: #ff554f;
}

.comma-separated-list:not(:last-child)::after {
    content: ', ';
}

.comma-separated-list:last-child::after {
    content: '. ';
}

.well {
    background-color: #fcfcfc;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

.well2 {
    background-color: transparent;
    border: 1px solid #ccc;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.well-transparent {
    background-color: transparent;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.well-warning {
    background-color: #fcfcfc;
    border: 2px solid #ffce59;
    -webkit-box-shadow: 0 2px 1px 0 rgba(255,206,89,.321));
            box-shadow: 0 2px 1px 0 rgba(255,206,89,.321));
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.h1, h1 {
    margin-top: 40px;
}

.form-control {
    color: #555;
    background-color: #fff;
    border-color: #999;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.modal {
    min-width: 767px;
    background-color: transparent;
}

.modal-hourglass .modal-dialog {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%) !important;
            transform: translate(0, -50%) !important;
    margin: auto;
    width: 100%;
    height: 100%;
}
.modal-hourglass .modal-content {
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.modal-hourglass .modal-centered-content {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    text-align: center;
    -webkit-animation-name: flashing;
            animation-name: flashing;
    -webkit-animation-duration: 4000ms;
            animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    color: #aaa;
}

.modal-hourglass .modal-centered-content .glyphicon {
    font-size: 2em;
}

@keyframes spin-center {
    from {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    to {
        transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
    }
}

@-webkit-keyframes flashing {
    0% {
        color: transparent;
    }
    50% {
        color: #aaa;
    }
    100% {
        color: transparent;
    }
}

.outer {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}

.v-middle {
    display: table-cell;
    vertical-align: middle;
}

.h-middle {
    margin: 0 auto;
}

.popover {
    color: #000;
}

.message {
    font-size: 1.23em;
}

div.page-header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    border-bottom: 1px solid transparent;
    background-color: #fff;
    color: #002880;
    position: relative;
    z-index: 1005;
}

div.page-header .title {
    font-size: 2.666em;
    font-weight: 600;
}

div.page-header .title a,
div.page-header .title a:hover,
div.page-header .title a:focus {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    margin-right: 25px;
}

div.page-header .title img {
    vertical-align: top;
}

div.page-header .login {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: #aaa;
    border-color: #aaa;
}

div.page-header .login:hover {
    color: #002880;
}

div.page-header .login {
    min-width: 160px;
}

div.page-header .login button,
div.page-header .login button:focus {
    width: 100%;
    padding: 12px;
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

div.page-header .login .dropdown-menu {
    width: 100%;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}


div.page-header .login button:hover,
div.page-header .login.open button,
div.page-header .login.open button:hover {
    color: #002880;
}

div.page-header .login button .label-warning {
    font-size: 11px;
    background-color: #ffce59;
}

div.page-header .login button:hover .label-warning,
div.page-header .login.open button .label-warning,
div.page-header .login.open button:hover .label-warning {
    background-color: #ffba13;
}

div.page-header .login button > span {
    font-size: 1.111em;
    display:inline-block;
    vertical-align: middle;
}

div.page-header .login button > span.glyphicon {
    font-size: 1.777em;
    padding-left: 12px;
}

div.page-header .login button:hover {
    background: inherit;
    color: inherit;
}

ul.nav.nav-tabs-sm>li>a {
    border-radius: 2px 2px 0 0;
    padding: 4px 10px;
}

ul.nav.nav-default>li {
    float: left;
}

ul.nav.nav-default>li:not(:last-child) {
    margin-right: 4px;
}

ul.nav.nav-default>li>a {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    border-radius: 0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: -1px solid transparent;
    border-right: -1px solid transparent;
    background: transparent;
    color: #002880;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-box-shadow: 0 8px 0 0 #002880 inset;
            box-shadow: 0 8px 0 0 #002880 inset;
    -webkit-transition: box-shadow .5s, color .5s;
            transition: box-shadow .5s, color .5s;
}

ul.nav.nav-default>li>a:focus,
ul.nav.nav-default>li>a:hover {
    color: #fff;
    -webkit-box-shadow: 0 99px 0 0 #002880 inset;
            box-shadow: 0 99px 0 0 #002880 inset;
}

ul.nav.nav-default>li.active>a,
ul.nav.nav-default>li.active>a:focus,
ul.nav.nav-default>li.active>a:hover {
    color: #fff  ;
    font-weight: 600;
    background-color: #002880;
    border-left: 1px solid #002880;
    border-right: 1px solid #002880;
}

ul.nav.nav-default>li[name=account] {
    float: right;
}

ul.nav.nav-default>li[name=account]>a {
    font-size: 16px;
    z-index: 1;
    padding-left: 30px;
    padding-right: 30px;
}

ul.nav.nav-default>li[name=account].active::after {
    z-index: 0;
    content: '';
    position: absolute;
    bottom: -15px;
    height: 40px;
    width: 100%;
    background-color: #002880;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-transform: skew(0deg, 6deg);
            transform: skew(0deg, 5deg);
    -webkit-box-shadow: 0 4px 2px -2px rgba(0,40,128,.5);
            box-shadow: 0 4px 2px -2px rgba(0,40,128,.5);
}

div.nav-container {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0px rgba(0,40,128,.25);
            box-shadow: 0 2px 4px 0px rgba(0,40,128,.25);
    z-index: 1000;
    position: relative;
}

div.breadcrumb-container {
    margin-top: 30px;
    margin-bottom: 0px;
    min-height: 50px;
}

div.breadcrumb-container .breadcrumb {
    border-radius: 0px;
    padding: 15px;
    font-size: 14px;
    margin: 0;
    background-color: #eee;
    border-radius: 4px;
    color: #999;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.25);
            box-shadow: 0 1px 4px 0 rgba(0,0,0,.25);
}

div.breadcrumb-container .breadcrumb>li+li:before {
    padding: 0 5px;
    color: #999;
    content: "/\00a0";
}

div.breadcrumb-container .breadcrumb>.active {
    color: #666;
    font-weight: bold;
}

div.breadcrumb-container .breadcrumb a {
    color: inherit;
}

div.main-container {
    padding-top: 30px;
    padding-bottom: 200px;
    bottom: 0;
}

table {
    font-size: 13px;
}

table>thead {
    color: #333333;
}

table>thead a {
    color: inherit;
}

table>thead a:hover,
table>thead a:focus {
    text-decoration: underline;
    color: inherit;
}

table.table-hover>tbody>tr {
    cursor: pointer;
}

table tr.disabled,
table tr.disabled:hover,
table tr.disabled:focus {
    pointer-events: none;
    cursor: not-allowed;
    color: #aaa;
}

table tr th,
table tr td {
    padding: 9px 6px !important;
}

table tr.selected td {
    background: #002880;
    color: #fff;
    border-top-color: #002880;
    border-bottom-color: #002880;
}

table tr.selected td a {
    color: #fff;
}

table tr.selected td:first-child {
    border-left-color: #002880;
}

table tr.selected td:last-child {
    border-right-color: #002880;
}

table tr.selected:hover td,
table tr.selected:focus td {
    background: #002066;
    border-top-color: #002066;
    border-bottom-color: #002066;
}

table tr.selected td:first-child {
    border-left-color: #002066;
}

table tr.selected td:last-child {
    border-right-color: #002066;
}

.table-transparent>tbody>tr>td,
.table-transparent>tbody>tr>th {
    border-top: none;
}

.dropdown-menu  {
    top: calc(100% + 2px);
    border: none;
    -webkit-box-shadow: 0 2px 1px 2px rgba(0,0,0,.25);
            box-shadow: 0 2px 1px 2px rgba(0,0,0,.25);
}

.dropdown-menu>li>a {
    color: #002880;
    padding: 5px 12px;
}

.dropdown-menu>li>a:hover {
    background: #002880;
    color: #fff;
}

.btn-group {
    margin-left: 5px;
}

.btn {
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
    /* -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.25); */
}

.btn-default {
    color: #555;
    background-color: #fff;
    border-top-color: #eee;
    border-color: #aaa;
}

.btn-default:hover,
.btn-default:focus {
    color: #444;
    background-color: #fcfcfc;
    border-color: #999;
}

a {
    cursor: pointer;
    color: #002880;
    font-weight: bold;
}

a:hover,
a:focus {
    color: #002880;
    text-decoration: underline;
}

.btn-link {
    color: #002880;
}

.btn-link:hover,
.btn-link:focus {
    color: #002880;
}

.btn-primary {
    background-color: #002880;
    border-color: #002880;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #002066;
    border-color: #002066;
}

.btn-secondary {
    background-color: #d0be91;
    border-color: #d0be91;
    color: #fff;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #bbab82;
    border-color: #bbab82;
	color: #ddd;
}

.btn-tertiary {
    background-color: #c3d091;
    border-color: #c3d091;
    color: #fff;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
    background-color: #c3d091;
    border-color: #c3d091;
	color: #ddd;
}

.btn-danger {
    background-color: #ff554f;
    border-color: #ff554f;
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: #e54c47;
    border-color: #e54c47;
}

.btn-radio {
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0;
}

.btn-radio:hover,
.btn-radio:focus {
    background-color: #eee;
    border-color: #ccc;
}

.btn-radio.active,
.btn-radio.active:hover,
.btn-radio.active:focus {
    background-color: #002880;
    border-color: #ccc;
    box-shadow: none;
    color: #fff;
}

.btn-radio label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 500;
}

.scrolling-box {
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #999;
    background-color: #fafafa;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scrolling-box .btn-radio {
    text-align: left;
    border: none;
    border-bottom: 0;
    border-radius: 0;
}

.scrolling-box .btn-radio .badge {
    width: 20px;
    height: 20px;
    padding: 3px;
    background-color: #ffba13;
    color: #fff;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

.scrolling-box .btn-radio:first-child:not(:last-child) {
    border-top: none;
    border-radius: 0;
}

.scrolling-box .btn-radio:last-child:not(:first-child) {
    border-radius: 0;
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus {
    color: #aaa;
    background-color: #fdfdfd;
    border-color: #aaa;
}

.buttons-on-the-right-side {
    text-align: right;
    margin-bottom: 10px;
}

.floating-buttons-on-the-right-side {
    float: right;
    text-align: right;
}

.buttons-on-the-right-side>.btn {
    margin-left: 5px;
}

.alert {
    border-radius: 4px;
    border-width: 0;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

.alert a {
    color: inherit;
}

.alert .glyphicon {
    margin-right: 15px;
}

.alert .btn-primary,
.alert .btn-danger,
.alert .btn-danger {
    color: #fff;
}

.success {
    color: #2f583c;
    background-color: #84e0a2;
}

.alert-success {
    color: #2f583c;
    background-color: #84e0a2;
}

.info {
    color: #2f583c;
    background-color: #b2e8f3;
}

.alert-info {
    color: #005a6c;
    background-color: #b2e8f3;
}


.warning {
    color: #664a07;
    background-color: #ffce59;
}

.alert-warning {
    color: #664a07;
    background-color: #ffce59;
}

.danger {
    color: #fcedec;
    background-color: #ff554f;
}

.alert-danger {
    color: #fcedec;
    background-color: #ff554f;
}

.well>.close {
    position: relative;
    top: -17px;
    right: -11px;
}

nav>ul.pagination>li>a {
    color: #666;
}

nav>ul.pagination>li>a:hover,
nav>ul.pagination>li>a:focus {
    color: #666;
}

nav>ul.pagination>li.disabled>a {
    color: #999;
}

nav>ul.pagination>li.active>a {
    background-color: #002880;
    border-color: #002880;
}

nav>ul.pagination>li.active>a {
    background-color: #002880;
    border-color: #002880;
}

nav>ul.pagination>li.active>a:hover,
nav>ul.pagination>li.active>a:focus {
    background-color: #002066;
    border-color: #002066;
}

div#categories.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 100%;
    margin: 0;
}

div#categories.btn-group>label.btn {
    position: relative;
    float: left;
}

div#categories.btn-group>label.btn,
div#categories.btn-group>label.btn:first-child:not(:last-child),
div#categories.btn-group>label.btn:last-child:not(:first-child),
div#categories.btn-group>label.btn.active,
div#categories.btn-group>label.btn.focus,
div#categories.btn-group>label.btn:focus,
div#categories.btn-group>label.btn:hover {
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 6px 12px;
}

div#categories.btn-group>label.btn>span.badge,
div#categories.btn-group>label.btn:focus>span.badge,
div#categories.btn-group>label.btn.focus>span.badge {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    top: 0px;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}


div#categories.btn-group>label.btn:hover>span.badge,
div#categories.btn-group>label.btn.active>span.badge,
div#categories.btn-group>label.btn.active:hover>span.badge,
div#categories.btn-group>label.btn.active:focus>span.badge {
    padding: 4px 8px;
    margin: -4px -8px;
    color: #fff;
}

div#categories.btn-group>label.btn:hover>span.badge {
    background-color: #aaa;
}

div#categories.btn-group>label.btn.active>span.badge {
    background-color: #002880;
}

div#categories.btn-group>label.btn.active:hover>span.badge,
div#categories.btn-group>label.btn.active:focus>span.badge {
    background-color: #002066;
}

.nav[name="data-selector"] {
    border-bottom: 1px solid #dddddd;
}

.nav[name="data-selector"] li[role="presentation"] a {
    color: inherit;
    border: 1px solid #dddddd;
    border-bottom: none;
    /*border: 1px solid #dddddd;*/
}

.nav[name="data-selector"] li[role="presentation"]:hover:not(.active) a {
    color: #002066;
    background: none;
}


.nav[name="data-selector"] li[role="presentation"].active a {
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

.well[name="data-selector-panel"] {
    z-index: 1000;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: 20px;
    padding: 19px;
    padding-top: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #fcfcfc;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
    border-top: 0px;
}

.well[name="data-selector-panel"] .form-control[readonly] {
    background-color: #fcfcfc;
}

.panel {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.panel-default {
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

.panel-default .panel-heading {
    background-color: #ffffff;
}

.panel .panel-heading h1.panel-title {
    font-size: 2em;
}

.dz {
    background-color: transparent;
    -webkit-transition: background-color .123s, border .123s;
            transition: background-color .123s, border .123s;
}

.dz-enter {
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

.dz-focus {
    background-color: #002880;
}

a.disabled {
  color: #aaa !important;
  pointer-events: none;
  cursor: not-allowed;
}

.footer {
    background-color: #002880;
    -webkit-box-shadow: 0 -2px 4px 0px rgba(0,40,128,.25);
            box-shadow: 0 -2px 4px 0px rgba(0,40,128,.25);
}

.footer p {
    text-align: center;
    color: #fff;
    font-size: .8em;
    letter-spacing: 0.4px;
    margin: 10px 0;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #fff;
}

.input-group {
    margin-bottom: 10px;
}

.input-group-addon {
    border-color: #999;
}

.input-group-btn .btn-default {
    color: #555;
    background-color: #fff;
    border-color: #999;
    -webkit-box-shadow: none;
            box-shadow: none;
}

input.form-control.datepicker {
    padding: 6px 12px;
    border-radius: 4px;
}

#allorganizations .btn-group-vertical {
    max-height: 500px;
}

#allorganizations .dropdown-menu>li>a {
    text-align: left;
}

#allorganizations span.label-name {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

#organization_well {
    min-height: 500px;
}

#organization_well #info img[name=logo] {
    padding: 20px 10px;
    max-height: 150px;
    max-width: 100%;
}

#organization_well #info .col-sm-3 {
    text-align: center;
}

#organization_well #info p[name=description] {
    text-align: justify;
}

#organization_well #info .contact div {
    margin-top: 25px;
    color: #afafaf;
}

#organization_well #info hr {
    margin-top: 0;
    margin-bottom: 10px;
    border-color: #afafaf;
}

.container-signin {
    width: 375px;
}

.container-signin .panel {
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.123);
}

.container-signin .panel-heading {
    border-bottom: none;
    padding: 30px 30px 15px 30px;

}

.container-signin .panel-body {
    padding: 15px 30px 30px 30px;
}

.container-progress>.glyphicon {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.618em;
}

.container-progress>.progress-status {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
    text-align: center;
}

.container-progress .progress {
    height: 10px;
    border-radius: 2px;
}

.container-progress .progress-bar {
    font-size: 8px;
    line-height: 10px;
    background-color: #002880;
    width: 0%;
}

.progress-bar-modal .modal-body {
    padding: 60px 30px;
}

.progress-bar-on-top {
    position: fixed;
    width: 100%;
    height: 4px;
    z-index: 9999;
    margin-bottom: 0px;
    overflow: hidden;
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
}

.progress-bar-on-top>.progress-bar {
    background-color: #002880;
    width: 0%;
}

/* div#map {
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
} */

div.disabled,
div.disabled input,
div.disabled select,
div.disabled .btn {
    pointer-events: none;
    background-color: transparent;
    color: #aaa;
    border-color: #ddd;
    -webkit-box-shadow: none;
            box-shadow: none;
}


#extractor div.nav-container {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0px rgba(0,40,128,.25);
            box-shadow: 0 2px 4px 0px rgba(0,40,128,.25);
    z-index: 1000;
    position: relative;
}

#extractor .map {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    #extractor .map .leaflet-control-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #extractor .map .leaflet-control-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #extractor .map .leaflet-control-container {
        width: 1170px;
    }
}

#extractor .map .leaflet-control-container {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 1px;
}

#extractor .map .leaflet-control-layers-expanded {
    color: #333;
    background: #fff;
}

#extractor .map .leaflet-right {
    position: relative;
    margin-right: 33.33333333%;
    float: right;
}

#extractor .map .leaflet-left .leaflet-control,
#extractor .map .leaflet-right .leaflet-control {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

#extractor .map .leaflet-top {
    top: calc(135px + 52px + 30px);
}

#extractor .map .leaflet-bottom {
    bottom: 35px;
}

#extractor .wrapper {
    pointer-events: none;
    position: relative;
    z-index: 1000;
}

#extractor .well.extractor-panel {
    pointer-events: auto;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,40,128,.25);
            box-shadow: 0 2px 1px 0 rgba(0,40,128,.25);
}
