/* css/main.css */

/*
 * red    #f5193b
 * green  #14d47f
 * blue   #067ee6
 * yellow #fbbb1b
 */

a.small-link {
    font-size: .9em;
    font-weight: normal;
}

html {
    min-width: 767px;
}

body {
    background-color: #fff;
    color: #333;
}

br {
    line-height: 300%;
}

img {
    -webkit-user-select: none;
            user-select: none;
}

.comma-separated-list:not(:last-child)::after {
    content: ', '
}

.comma-separated-list:last-child::after {
    content: '. '
}

.well {
    background-color: #fcfcfc;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

.well-transparent {
    background-color: transparent;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.h1, h1 {
    margin-top: 40px;
}

.form-control {
    color: #555;
    background-color: #fff;
    border-color: #999;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.modal {
    min-width: 767px;
}

.outer {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}

.v-middle {
    display: table-cell;
    vertical-align: middle;
}

.h-middle {
    margin: 0 auto;
}

.popover {
    color: #000;
}

.message {
    font-size: 1.23em;
}

div.page-header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    border-bottom: 1px solid transparent;
    background-color: #fff;
    color: #002880;
    position: relative;
    z-index: 999;
}

div.page-header .title {
    font-size: 2.666em;
    font-weight: 600;
}

div.page-header .title a,
div.page-header .title a:hover,
div.page-header .title a:focus {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}

div.page-header .login {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: #999;
    -webkit-transition: color .123s, border-color .123s;
            transition: color .123s, border-color .123s;
}

div.page-header .login:hover {
    color: #ff554f;
    /*border-color: #ff554f;*/
}

div.page-header .login button,
div.page-header .login button:focus {
    padding: 12px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

div.page-header .login button:hover,
div.page-header .login.open button,
div.page-header .login.open button:hover {
    color: #ff554f;
    border-color: #ff554f;
    -webkit-box-shadow: none;
            box-shadow: none;
}

div.page-header .login button > span {
    font-size: 1.111em;
    display:inline-block;
    vertical-align:middle;
}

div.page-header .login button > span.glyphicon {
    font-size: 1.777em;
    padding-left: 12px;
}

div.page-header .login button:hover {
    background: inherit;
    color: inherit;
}


ul.nav.nav-default>li {
    float: left;
}

ul.nav.nav-default>li>a {
    border-radius: 0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: transparent;
    color: #999;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 1.333em;
    -webkit-box-shadow: 0 8px 0 0 #002880 inset;
            box-shadow: 0 8px 0 0 #002880 inset;
    -webkit-transition: box-shadow .321s, color .321s;
            transition: box-shadow .321s, color .321s;
}

ul.nav.nav-default>li>a:focus,
ul.nav.nav-default>li>a:hover {
    color: #fff;
    -webkit-box-shadow: 0 99px 0 0 #002880 inset;
            box-shadow: 0 99px 0 0 #002880 inset;
}

ul.nav.nav-default>li.active>a,
ul.nav.nav-default>li.active>a:focus,
ul.nav.nav-default>li.active>a:hover {
    color: #fff  ;
    font-weight: 600;
    background-color: #002880;
    border-left: 1px solid #002880;
    border-right: 1px solid #002880;
    margin-bottom: 1px;
}

ul.nav.nav-default>li[name=account].active {
    float: right;
}
ul.nav.nav-default>li[name=account].active>a {
    z-index: 99 !important;
    border-top-right-radius: 0px;
    border-top-left-radius: 8px;
}
ul.nav.nav-default>li[name=account].active::after {
    content: '';
    z-index: 98 !important;
    position: absolute;
    bottom: -26px;
    left: 0px;
    height: 51px;
    width: 100%;
    background-color: #002880;
    border-radius: 8px;
    -webkit-transform: skew(0deg, 6deg);
            transform: skew(0deg, 5deg);
    z-index: -1;
    right: 0;
}

div.nav-container {
    background-color: #fff;
}

div.nav-container .breadcrumb {
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
}

div.main-container {
    background-color: #fff;
    border-top: 1px solid #002880;
    margin-top: -2px;
    padding-top: 60px;
    padding-bottom: 90px;
    bottom: 0;
    -webkit-box-shadow: 0 3px 1px -1px rgba(0,40,128,.125) inset;
            box-shadow: 0 3px 1px -1px rgba(0,40,128,.125) inset;
}

table>thead {
    color: #333333;
}

table>thead a {
    color: inherit;
}

table>thead a:hover,
table>thead a:focus {
    text-decoration: underline;
    color: inherit;
}

table.table-hover>tbody>tr {
    cursor: pointer;
}

table tr.disabled,
table tr.disabled:hover,
table tr.disabled:focus {
    pointer-events: none;
    cursor: not-allowed;
    color: #aaa;
}

table tr.selected td {
    background: #067ee6;
    color: #fff;
    border-top-color: #067ee6;
    border-bottom-color: #067ee6;
}

table tr.selected td:first-child {
    border-left-color: #067ee6;
}

table tr.selected td:last-child {
    border-right-color: #067ee6;
}

table tr.selected:hover td,
table tr.selected:focus td {
    background: #0571cf;
    border-top-color: #0571cf;
    border-bottom-color: #0571cf;
}

table tr.selected td:first-child {
    border-left-color: #0571cf;
}

table tr.selected td:last-child {
    border-right-color: #0571cf;
}

.table-transparent>tbody>tr>td,
.table-transparent>tbody>tr>th {
    border-top: none;
}

.dropdown-menu  {
    top: calc(100% + 2px);
    border: none;
    -webkit-box-shadow: 0 2px 1px 2px rgba(0,0,0,.25);
            box-shadow: 0 2px 1px 2px rgba(0,0,0,.25);
}

.btn-group {
    margin-left: 5px;
}

.btn {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.25);
}

.btn-default {
    color: #555;
    background-color: #fff;
    border-top-color: #eee;
    border-color: #aaa;
}

.btn-default:hover,
.btn-default:focus {
    color: #444;
    background-color: #fcfcfc;
    border-color: #999;
}

a {
    cursor: pointer;
    color: #067ee6;
    font-weight: bold;
}

a:hover,
a:focus {
    color: #067ee6;
    text-decoration: underline;
}

.btn-link {
    color: #067ee6;
}

.btn-link:hover,
.btn-link:focus {
    color: #067ee6;
}

.btn-primary {
    background-color: #067ee6;
    border-color: #067ee6;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #0571cf;
    border-color: #0571cf;
}

.btn-danger {
    background-color: #f5193b;
    border-color: #f5193b;
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: #db0022;
    border-color: #db0022;
}

.btn-radio {
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0;
}

.btn-radio:hover,
.btn-radio:focus {
    background-color: #eee;
    border-color: #ccc;
}

.btn-radio.active,
.btn-radio.active:hover,
.btn-radio.active:focus {
    background-color: #067ee6;
    border-color: #ccc;
    box-shadow: none;
    color: #fff;
}

.btn-radio label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 500;
}

.scrolling-box {
    overflow: auto;
    border: 1px solid #999;
    background-color: #fafafa;
    margin-bottom: 15px;
}

.scrolling-box .btn-radio {
    text-align: left;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.scrolling-box .btn-radio:first-child:not(:last-child) {
    border-top: none;
    border-radius: 0;
}

.scrolling-box .btn-radio:last-child:not(:first-child) {
    border-radius: 0;
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus {
    color: #aaa;
    background-color: #fdfdfd;
    border-color: #aaa;
}

.buttons-on-the-right-side {
    text-align: right;
    margin-bottom: 10px;
}

.buttons-on-the-right-side>.btn {
    margin-left: 5px;
}

.alert {
    border-radius: 4px;
    border-width: 0;
}

.alert a {
    color: inherit;
}

.alert .btn-primary,
.alert .btn-danger,
.alert .btn-danger {
    color: #fff;
}

.alert-success {
    color: #fff;
    background-color: #14d47f;
}

.alert-info {
    color: #333;
    background-color: #b4d8f7;
}

.alert-warning {
    color: #333;
    background-color: #fbbb1b;
}

.alert-danger {
    color: #fff;
    background-color: #f5193b;
}

.danger {
    color: #fff;
    background-color: #f5193b;
}

.success {
    color: #fff;
    background-color: #14d47f;
}

.info {
    color: #fff;
    background-color: #067ee6;
}

.warning {
    color: #333;
    background-color: #fbbb1b;
}

.danger {
    color: #fff;
    background-color: #f5193b;
}

.well>.close {
    position: relative;
    top: -17px;
    right: -11px;
}

nav>ul.pagination>li>a {
    color: #666;
}

nav>ul.pagination>li>a:hover,
nav>ul.pagination>li>a:focus {
    color: #666;
}

nav>ul.pagination>li.disabled>a {
    color: #999;
}

nav>ul.pagination>li.active>a {
    background-color: #067ee6;
    border-color: #067ee6;
}

nav>ul.pagination>li.active>a {
    background-color: #067ee6;
    border-color: #067ee6;
}

nav>ul.pagination>li.active>a:hover,
nav>ul.pagination>li.active>a:focus {
    background-color: #0571cf;
    border-color: #0571cf;
}

div#categories.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
}

div#categories.btn-group>label.btn {
    position: relative;
    float: left;
}

div#categories.btn-group>label.btn,
div#categories.btn-group>label.btn:first-child:not(:last-child),
div#categories.btn-group>label.btn:last-child:not(:first-child),
div#categories.btn-group>label.btn.active,
div#categories.btn-group>label.btn.focus,
div#categories.btn-group>label.btn:focus,
div#categories.btn-group>label.btn:hover {
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-left: 0;
    margin-right: 7px;
    padding-left: 0;
    padding-right: 0;
}

div#categories.btn-group>label.btn>span.badge,
div#categories.btn-group>label.btn:focus>span.badge,
div#categories.btn-group>label.btn.focus>span.badge {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    top: 0px;
    padding: 3px 7px;
    margin-left: 0;
    margin-right: 0;
    border: none;
    border-radius: 5px;
}


div#categories.btn-group>label.btn:hover>span.badge {
    background-color: #aaa;
    color: #fff;
}

div#categories.btn-group>label.btn.active>span.badge {
    background-color: #067ee6;
    color: #fff;
}

div#categories.btn-group>label.btn.active:hover>span.badge,
div#categories.btn-group>label.btn.active:focus>span.badge {
    background-color: #0571cf;
    color: #fff;
}

.nav[name="data-selector"] {
    border-bottom: 1px solid #dddddd;
}

.nav[name="data-selector"] li[role="presentation"] a {
    color: inherit;
    border: 1px solid #dddddd;
    border-bottom: none;
    /*border: 1px solid #dddddd;*/
}

.nav[name="data-selector"] li[role="presentation"]:hover:not(.active) a {
    color: #0571cf;
    background: none;
}


.nav[name="data-selector"] li[role="presentation"].active a {
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

.well[name="data-selector-panel"] {
    z-index: 999;
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: 20px;
    padding: 19px;
    padding-top: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #fcfcfc;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
    border-top: 0px;
}

.well[name="data-selector-panel"] .form-control[readonly] {
    background-color: #fcfcfc;
}

.panel-default {
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

.panel-default .panel-heading {
    background-color: #ffffff;
}

.dz {
    background-color: transparent;
    -webkit-transition: background-color .123s, border .123s;
            transition: background-color .123s, border .123s;
}

.dz-enter {
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
            box-shadow: 0 2px 1px 0 rgba(0,0,0,.123);
}

.dz-focus {
    background-color: #067ee6;
}

a.disabled {
  color: #aaa !important;
  pointer-events: none;
  cursor: not-allowed;
}
