{% extends "idgo_admin/base.html" %}
{% load bootstrap3 %}
{% block breadcrumb_content %}
<ol class="breadcrumb">
	<li>
		<span class="glyphicon glyphicon-home"></span>
	</li>
	<li>
		<a href="{% url 'idgo_admin:all_organisations' %}#{{ organisation.pk }}">Organisations</a>
	</li>
	<li class="active">
		<a href="{% url 'idgo_admin:update_organisation' id=organisation.pk %}">{{ organisation.legal_name }}</a>
	</li>
	<li class="active">
		Importer un catalogue CKAN
	</li>
</ol>
{% endblock breadcrumb_content %}
{% block main_content %}
{% include "idgo_admin/alert_messages.html" %}
{% if datasets %}
<div role="alert" class="alert alert-info">
	<span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Nombre de jeux de données importés : <strong>{{ datasets|length }}</strong>
</div>
{% endif %}
<form method="post" action="" class="well">
	<div class="row">
		<div class="col-sm-10 col-md-8">
			{% bootstrap_field form.url %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-5">
			{% bootstrap_field form.sync_frequency %}
		</div>
	</div>
	{% for field in form.visible_fields %}
		{% if field.name == 'sync_with' %}
	<div class="row">
		<div class="col-sm-10 col-md-8">
			<div class="form-group{% if form.sync_with.errors %} has-error{% endif %}">
				<label for="id_{{ form.sync_with.name }}" class="control-label">{{ form.sync_with.label }}</label>
			{% if form.sync_with.errors %}
				<div class="panel panel-default">
					<div class="panel-body">
				{% for text in form.sync_with.errors reversed %}
						<div class="help-block">
							<span class="glyphicon glyphicon-warning-sign"></span> {{ text }}
						</div>
				{% endfor %}
					</div>
				</div>
			{% else %}
				{{ form.sync_with }}
			{% endif %}
			</div>
		</div>
	</div>
		{% endif %}
	{% endfor %}
	{% if form.Meta.mapping|length > 0 %}
	<label>Correspondance des catégories et licences</label>
	{% load extra_tags %}
	<div class="row">
		<div class="col-sm-10 col-md-8">
			<ul class="nav nav-tabs nav-tabs-default" name="mapping-selector" role="tablist">
				{% for item in form.Meta.mapping %}
				<li role="presentation" {% if forloop.counter0 == 0 %}class="active"{% endif %}>
					<a href="#{{ item.name }}" aria-controls="{{ item.name }}" role="tab" data-toggle="tab">{{ item.title }}</a>
				</li>
				{% endfor %}
			</ul>
			<div class="tab-content tab-content-default">
				{% for item in form.Meta.mapping %}
				<div role="tabpanel" class="tab-pane{% if forloop.counter0 == 0 %} active{% endif %}" name="mapping-selector-panel" id="{{ item.name }}">
					<div class="tab-pane-content">
						<div class="table-responsive">
							<table class="table table-condensed table-striped">
								{% for field_name in item.fields_name %}
								{% with form|keyvalue:field_name as field %}
								<tr id="{{ fields_name }}" name="{{ fields_name }}">
									<td name="left" style="width: 50%; vertical-align: middle;">
										{{ field.label }}
										<!-- <span style="float: right;">=</span> -->
									</td>
									<td name="right" style="width: 50%; vertical-align: middle;">
										{% bootstrap_field field show_label=False %}
									</td>
								</tr>
								{% endwith %}
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	<br />
	<div class="buttons-on-the-right-side">
		{% if instance %}
		<button type="button" name="delete" class="btn btn-danger left">Supprimer</button>
		{% endif %}
		<a class="btn btn-default" href="{% url 'idgo_admin:update_organisation' id=organisation.pk %}">Annuler</a>
		{% if instance %}
		<button type="submit" name="continue" class="btn btn-default">Enregistrer et continuer les modifications</button>
		<button type="submit" name="save" class="btn btn-primary">Enregistrer</button>
		{% else %}
		<button type="submit" name="continue" class="btn btn-primary">Suivant</button>
		{% endif %}
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12">
			<small>* Les champs marqués d'un astérisque sont obligatoires.</small>
		</div>
	</div>
</form>
<!-- Template de la fenêtre `Modal` -->
<template id="modal_template">
	<p>Cette action est irreversible et supprimera <strong>définitivement</strong> tous les jeux de données et ressources synchronisés avec le catalogue CKAN.</p>
	<form action="{% url 'idgo_admin:delete_remote_ckan_link' id=organisation.pk %}" method="post">
		<div class="buttons-on-the-right-side">
			<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			<button type="submit" class="btn btn-danger">Confirmer la suppression</button>
		</div>
	</form>
</template>
<script>
$(function() {
	$('[name="delete"]').off('click').on('click', function(e) {
		e.preventDefault();
		const $modalContent = $($('#modal_template').prop('content')).clone();
		$modal.find('.modal-title').text('Êtes-vous absolument sûr ?');
		$modal.find('.modal-body').append($modalContent);
		$modal.modal('show');
		e.stopPropagation();
	});
	$('form').submit(function() {
		$modalHourglass.modal('show');
	});
	$('#menu a[href=\'{% url "idgo_admin:all_organisations" %}\']').parent().addClass('active');
});
</script>
{% endblock main_content %}
