{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}

{% block header %}{% endblock header %}
{% block nav %}{% endblock nav %}
{% block main %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">	
			<h1>Réinitialiser mon mot de passe</h1>
			<br/>
			<form method="post" action="">
				{% csrf_token %}
				<p>Veuillez indiquer l'adresse mail de votre compte IDGO afin de réinitialiser votre mot de passe.</p>
				<div class="row">
					<div class="col-md-12">
						{% bootstrap_field form.email show_label=False %}
					</div>
				</div>
				<div class="buttons-on-the-right-side">
					<a class="btn btn-default" href="{% url "idgo_admin:signIn" %}">Annuler</a>
					<button type="submit" class="btn btn-primary">Envoyer un email de réinitialisation</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock main %}
