{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block header %}{% endblock header %}
{% block nav %}{% endblock nav %}
{% block breadcrumb %}{% endblock breadcrumb %}
{% block main %}
<div class="outer">
	<div class="v-middle">
		<div class="h-middle container-forgottenpassword">
			<div class="panel">
				<div class="panel-heading">
					<div class="panel-heading-logo">
						<img src="{% static 'img/logo.png' %}"></img>
					</div>
					<h4>Réinitialiser votre mot de passe</h4>
				</div>
				<div class="panel-body">
					<form method="post" action="">
						{% csrf_token %}
						<p>Veuillez indiquer l'adresse mail de votre compte <strong style="font-variant: small-caps;">{{ platform_name|default:"IDGO" }}</strong> afin de réinitialiser votre mot de passe.</p>
						<div class="row">
							<div class="col-md-12">
								{% bootstrap_field form.email show_label=False %}
							</div>
						</div>
						<div class="buttons-on-the-right-side">
							<a class="btn btn-default" href="{% url "server_cas:signIn" %}">Annuler</a>
							<button type="submit" class="btn btn-primary">Envoyer un e-mail de réinitialisation</button>
						</div>
					</form>
				</div>
			</div>
			<small>{% include "idgo_admin/copyright.html" %}</small>
		</div>
	</div>
</div>

<style>
.container-forgottenpassword {
    width: 755px;
    padding-left: 6px;
    padding-right: 6px;
}

.container-forgottenpassword .panel {
    border-radius: 0;
    border-left: 1px solid #ddd;
    border-top: 1px solid #eee;
    border-right: : 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,.25);
            box-shadow: 0 2px 4px 0px rgba(0,0,0,.25);
}

.container-forgottenpassword .panel>.panel-heading {
    border-bottom: none;
    padding: 60px 60px 15px 60px;
    background-color: #fff;
}

.container-forgottenpassword .panel>.panel-heading>.panel-heading-logo {
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.container-forgottenpassword .panel>.panel-body {
    padding: 15px 60px 60px 60px;
}

.container-forgottenpassword .panel>.panel-body .well {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fcfcfc;
    margin-left: -20px;
    margin-right: -20px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(238,238,238,.5);
            box-shadow: 0 2px 3px -1px rgba(238,238,238,.5);
}
</style>

{% endblock main %}
{% block footer %}{% endblock footer %}
