{% extends "idgo_admin/base.html" %}

{% block nav_content %}
<ul id="menu" class="nav nav-default" role="tablist">
	<li role="presentation">
		<a href="#datasets" aria-controls="datasets" role="tab" data-toggle="tab">Mes jeux de données</a>
	</li>
	<!-- <li role="presentation">
		<a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">Gestion des droits d'accès</a>
	</li> -->
</ul>
{% endblock nav_content %}

{% block main_content %}
<div class="tab-content">
	<div id="datasets" role="tabpanel" class="tab-pane fade in">
		{% include "idgo_admin/inner_datasets.htm" %}
	</div>
	<!-- <div id="rules" role="tabpanel" class="tab-pane fade in">
		{% include "idgo_admin/inner_rules.htm" %}
	</div> -->
</div>
{% endblock main_content %}
