{% load bootstrap3 %}

<h1>Réinitialisation de votre mot de passe</h1>
<br/>
<form method="post" action="">
	{% csrf_token %}
	{% bootstrap_field form.username %}
	<p>Entrez un nouveau mot de passe ci-dessous pour le réinitialiser.</p>
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			{% bootstrap_field form.password1 show_label=False %}
		</div>
		<div class="col-xs-12 col-sm-12">
			{% bootstrap_field form.password2 show_label=False %}
		</div>
	</div>
	<div class="buttons-on-the-right-side">
		<a class="btn btn-default" href="{% url "idgo_admin:signIn" %}">Annuler</a>
		<button type="submit" class="btn btn-primary">Valider</button>
	</div>
</form>
