{% load bootstrap3 %}

{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success' %}
			<div name='message-tags' class="alert alert-success" role="alert">{{ message | escape | safe }}</div>
		{% elif message.tags == 'error' %}
			<div name='message-tags' class="alert alert-danger" role="alert">{{ message | escape | safe }}</div>
		{% elif message.tags == 'info' %}
			<div name='message-tags' class="alert alert-info" role="alert">{{ message | escape | safe }}</div>
		{% endif %}
	{% endfor %}
{% endif %}

<div class="panel well">
	<div class="panel-heading">
		<div class="panel-title">Organisation de rattachement</div>
	</div>
	<div class="panel-body">
		{% if organization %}
		<p>Vous êtes actuellement rattaché à l'organisation suivante : <strong>{{ organization }}</strong>. </p>
		{% elif awaiting_rattachement %}
		<div class="alert alert-info">Demande de rattachement en attente de validation pour : <strong>{{ awaiting_rattachement }}</strong>. </div>
		{% else %}
		<div class="alert alert-warning">Vous n'êtes rattaché à aucune organisation. </div>
		{% endif %}
		<div class="buttons-on-the-right-side">
			<a class="btn btn-sm btn-default" href="{% url "idgo_admin:my_organization" process="update_organization" %}">Demande de rattachement</a>
		</div>
	</div>
</div>
<form name="organization">
	<div class="panel well">
		<div class="panel-heading">
			<div class="panel-title">Organisations pour lesquelles vous avez le droit de publier des jeux de données</div>
		</div>
		<div class="panel-body">
			{% if awaiting_contributions %}
			<div class="alert alert-info">Demande(s) de statut de contributeur en attente de validation pour : {% for organization in awaiting_contributions %}<strong class="comma-separated-list">{{ organization.1 }}</strong>{% endfor %}</div>
			{% endif %}
			<div id="table-organizations" class="table-responsive"></div>
			<nav aria-label="Page navigation" style="text-align: center;">
				<ul id="table-organizations-paginator" class="pagination pagination-sm"></ul>
			</nav>
			<div class="buttons-on-the-right-side">
				<button name="unsubscribe" class="btn btn-sm btn-danger disabled" data-toggle="modal" data-target="#modal" disabled="disabled">Ne plus contribuer</span></button>
				<a class="btn btn-sm btn-default" href="{% url "idgo_admin:contribute" %}">Nouvelle demande de contribution</a>
			</div>
		</div>
	</div>
</form>
<form name="subordinates">
	<div class="panel well">
		<div class="panel-heading">
			{% if is_admin %}
			<div class="panel-title">Liste de toutes les organisations</div>
			{% else %}
			<div class="panel-title">Organisations pour lesquelles vous êtes référent technique</div>
			{% endif %}
		</div>
		<div class="panel-body">
			{% if awaiting_subordinates %}
			<div class="alert alert-info">Demande(s) de statut de référent technique en attente de validation pour : {% for organization in awaiting_subordinates %}<strong class="comma-separated-list">{{ organization.1 }}</strong>{% endfor %}</div>
			{% endif %}
			<div id="table-subordinates" class="table-responsive"></div>
			<nav aria-label="Page navigation" style="text-align: center;">
				<ul id="table-subordinates-paginator" class="pagination pagination-sm"></ul>
			</nav>
			{% if not is_admin %}
			<div class="buttons-on-the-right-side">
				<button name="unsubscribe" class="btn btn-sm btn-danger disabled" data-toggle="modal" data-target="#modal" disabled="disabled">Ne plus être référent technique</span></button>
				<a class="btn btn-sm btn-default" href="{% url "idgo_admin:referent" %}">Nouvelle demande de statut de référent technique</a>
			</div>
			{% endif %}
		</div>
	</div>
</form>
<script>
$(function() {
	const organizationsGrid = new EditableGrid('Organizations', {pageSize: 5});
	const subordinatesGrid = new EditableGrid('Subordinates', {pageSize: 5});

	$('form[name="organization"] button[name="unsubscribe"]')
		.on('click', function(e) {
			e.preventDefault();

			const $button = $('<button/>')
				.prop('type', 'button')
				.prop('class', 'btn btn-danger disabled')
				.prop('disabled', true)
				.text('Oui, je ne souhaite plus contribuer pour cette organisation')
				.on('click', function(e) {
					e.preventDefault();
					closeAllModalDialog();
					$.ajax({
						type: 'DELETE',
						// success: function() {},
						url: '{% url "idgo_admin:unsuscribe_contribution" %}' + '?id=' + organizationsGrid.getRowValues(organizationsGrid.lastSelectedRowIndex)['id']
					})
					.done(function(response, textStatus, jqXHR) {
						location.reload();
					})
					.fail(function(jqXHR, textStatus, errorThrown) {
						location.reload();
					});
					e.stopPropagation();
				});

			const $input = $('<input/>')
				.prop('type', 'text')
				.prop('class', 'form-control')
				.prop('placeholder', "Nom de l'organisation")
				.on('input', function(e) {
					if ($(this).val() === organizationsGrid.getRowValues(organizationsGrid.lastSelectedRowIndex)['name']) {
						$button.removeClass('disabled').prop('disabled', false);
					} else {
						$button.addClass('disabled').prop('disabled', true);
					};
				});

			$modal.find('.modal-title').text('Êtes-vous absolument sûr ?');

			$modal.find('.modal-body')
				.append('<p>Cette action est irreversible...</p>')
				.append(
					$('<form/>')
						.append(
							$('<div/>').prop('class', 'form-group')
								.append("<p>Pour confirmer, veuillez réécrire le nom de l'organisation.</p>")
								.append($input))
						.append(
							$('<div class="buttons-on-the-right-side">')
								.append($button)
								.append('<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>')));

			$modal.modal('show');

			e.stopPropagation();
		});

		$('form[name="subordinates"] button[name="unsubscribe"]')
			.on('click', function(e) {
				e.preventDefault();

				const $button = $('<button/>')
					.prop('type', 'button')
					.prop('class', 'btn btn-danger disabled')
					.prop('disabled', true)
					.text('Oui, je ne souhaite plus être référent technique pour cette organisation')
					.on('click', function(e) {
						e.preventDefault();
						closeAllModalDialog();
						$.ajax({
							type: 'DELETE',
							// success: function() {},
							url: '{% url "idgo_admin:unsuscribe_referent" %}' + '?id=' + subordinatesGrid.getRowValues(subordinatesGrid.lastSelectedRowIndex)['id']
						})
						.done(function(response, textStatus, jqXHR) {
							location.reload();
						})
						.fail(function(jqXHR, textStatus, errorThrown) {
							location.reload();
						});
						e.stopPropagation();
					});

				const $input = $('<input/>')
					.prop('type', 'text')
					.prop('class', 'form-control')
					.prop('placeholder', "Nom de l'organisation")
					.on('input', function(e) {
						if ($(this).val() === subordinatesGrid.getRowValues(subordinatesGrid.lastSelectedRowIndex)['name']) {
							$button.removeClass('disabled').prop('disabled', false);
						} else {
							$button.addClass('disabled').prop('disabled', true);
						};
					});

				$modal.find('.modal-title').text('Êtes-vous absolument sûr ?');

				$modal.find('.modal-body')
					.append('<p>Cette action est irreversible...</p>')
					.append(
						$('<form/>')
							.append(
								$('<div/>').prop('class', 'form-group')
									.append("<p>Pour confirmer, veuillez réécrire le nom de l'organisation.</p>")
									.append($input))
							.append(
								$('<div class="buttons-on-the-right-side">')
									.append($button)
									.append('<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>')));

				$modal.modal('show');

				e.stopPropagation();
			});

	organizationsGrid.initializeGrid = function() {
		const grid = organizationsGrid;
		const $buttons = $($('#' + this.currentContainerid).parent().get(0)).find('button');
		with (this) {
			tableRendered = function() {
				rowSelected(-1, -1);
				updatePaginator(grid);
			};
			rowSelected = function(pRowIdx, nRowIdx) {
				$(grid.getRow(pRowIdx)).removeClass('selected');
				$buttons.each(function() {
					deactivateButton($(this));
				});
				if (pRowIdx != nRowIdx) {
					$(grid.getRow(nRowIdx)).addClass('selected');
					$buttons.each(function() {
						activateButton($(this));
					});
				};
			};
		};
	};

	subordinatesGrid.initializeGrid = function() {
		const grid = subordinatesGrid;
		const $buttons = $($('#' + this.currentContainerid).parent().get(0)).find('button');
		with (this) {
			tableRendered = function() {
				rowSelected(-1, -1);
				updatePaginator(grid);
			};
			rowSelected = function(pRowIdx, nRowIdx) {
				$(grid.getRow(pRowIdx)).removeClass('selected');
				$buttons.each(function() {
					deactivateButton($(this));
				});
				if (pRowIdx != nRowIdx) {
					$(grid.getRow(nRowIdx)).addClass('selected');
					$buttons.each(function() {
						activateButton($(this));
					});
				};
			};
		};
	};

	function updateOrganizationsGrid(grid, containerId, metadata, data) {
		const $containerId = $('#' + containerId);
		const $parent = $($containerId.parent().get(0));
		$parent.find('div[role="alert"]').remove();
		$parent.find('button').each(function() {
			deactivateButton($(this));
		});
		if (data.length > 0) {
			grid.load({'metadata': metadata, 'data': data});
			grid.renderGrid(containerId, 'table table-hover table-condensed');
			grid.initializeGrid();
			grid.refreshGrid();
			$containerId.show();
		} else {
			$containerId.hide();
		};

		if (data.length == 0 && {{ awaiting_contributions|safe }}.length == 0) {
			$containerId.after('<div role="alert" class="alert alert-warning"><p>Vous n\'êtes contributeur d\'aucune organisation. Pour devenir contributeur, vous devez <a href="{% url "idgo_admin:contribute" %}">ajouter une organisation à laquelle contribuer</a>.</p><div/>');
		};
	};

	function updateSubordinatesGrid(grid, containerId, metadata, data) {
		const $containerId = $('#' + containerId);
		const $parent = $($containerId.parent().get(0));
		$parent.find('div[role="alert"]').remove();
		$parent.find('button').each(function() {
			deactivateButton($(this));
		});
		if (data.length > 0) {
			grid.load({'metadata': metadata, 'data': data});
			grid.renderGrid(containerId, 'table table-condensed');
			grid.initializeGrid();
			grid.refreshGrid();
			$containerId.show();
		} else {
			$containerId.hide();
		};

		if (data.length == 0 && {{ awaiting_subordinates|safe }}.length == 0) {
			$containerId.after('<div role="alert" class="alert alert-warning"><p>Vous n\'êtes référent technique d\'aucune organisation.<div/>');
		};
	};

	updateOrganizationsGrid(
		organizationsGrid,
		'table-organizations',
		[
			{
				name: 'name',
				label: "Nom de l'organisation",
				editable: false,
				datatype: 'string'
			}, {
				name: 'id',
				label: '_HIDDEN',
				editable: false,
				datatype: 'integer'
			}
		],
		(function(data) {
			let m = [];
			for (let i = 0; i < data.length; i ++) {
				m.push({
					id: i,
					values: [
						data[i][1],  // name
						data[i][0]   // id
					]
				});
			};
			return m;
		})({{ contributions | safe }})
	);

	updateSubordinatesGrid(
		subordinatesGrid,
		'table-subordinates',
		[
			{
				name: 'name',
				label: "Nom de l'organisation",
				editable: false,
				datatype: 'string'
			}, {
				name: 'id',
				label: '_HIDDEN',
				editable: false,
				datatype: 'integer'
			}
		],
		(function(data) {
			let m = [];
			for (let i = 0; i < data.length; i ++) {
				m.push({
					id: i,
					values: [
						data[i][1],  // name
						data[i][0]   // id
					]
				});
			};
			return m;
		})({{ subordinates | safe }})
	);
});
</script>
