{% load bootstrap3 %}

{% include "idgo_admin/alert_messages.html" %}

<template id="organization_well_template">
	<div>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#info" aria-controls="info" role="tab" data-toggle="tab">Informations générales</a>
			</li>
			<li role="presentation">
				<a href="#members" aria-controls="members" role="tab" data-toggle="tab">Utilisateurs</a>
			</li>
			<li role="presentation">
				<a href="#me" aria-controls="me" role="tab" data-toggle="tab">Moi et l'organisation</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="info">
				<div class="tab-pane-content">
					<div class="row">
						<div class="col-sm-8">
							<h3 name="name"></h4>
						</div>
						<div class="col-sm-4">
							<img name="logo" alt="" width="100%"></img>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5">
							<div class="row">
								<div class="col-md-12">
									<span name="address"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<span name="postcode"></span> <span name="city"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <span name="phone"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span name="email"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a target="_blank" name="website"></a></span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p name="description"></p>
						</div>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="members">

				<div class="tab-pane-content">
					<div id="table-members" class="table-responsive"></div>
					<nav aria-label="Page navigation" style="text-align: center;">
						<ul id="table-members-paginator" class="pagination pagination-sm"></ul>
					</nav>
					<div class="buttons-on-the-right-side">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Supprimer un statut <span class="glyphicon glyphicon-triangle-bottom" style="top: 0.2em"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a role="button" name="delete-member" style="text-align: right;" data-toggle="modal" data-target="#modal">Supprimer le statut de membre</a></li>
								<li><a role="button" name="delete-contributor" style="text-align: right;" data-toggle="modal" data-target="#modal">Supprimer le statut de contributeur</a></li>
								<li><a role="button" name="delete-referent" style="text-align: right;" data-toggle="modal" data-target="#modal">Supprimer le statut de référent technique</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane" id="me">

			</div>

		</div>
	</div>

</template>

<div id="allorganizations">

	{% if awaiting_rattachement %}
	<div class="alert alert-info">Demande(s) de rattachement à l'organisation « <strong>{{ awaiting_rattachement }}</strong> » en attente.</div>
	{% endif %}
	{% if awaiting_contributions %}
	<div class="alert alert-info">Demande(s) de statut de contributeur en attente de validation pour : {% for organization in awaiting_contributions %}<strong class="comma-separated-list">{{ organization.1 }}</strong>{% endfor %}</div>
	{% endif %}
	{% if awaiting_subordinates %}
	<div class="alert alert-info">Demande(s) de statut de référent technique en attente de validation pour : {% for organization in awaiting_subordinates %}<strong class="comma-separated-list">{{ organization.1 }}</strong>{% endfor %}</div>
	{% endif %}

	<div class="row">
		<div class="col-md-4">
			{% if organizations|length > 10 %}
			<div class="input-group">
				<input name="organization" type="text" class="form-control typeahead" placeholder="Rechercher l'organisation...">
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
			{% elif organizations|length > 1 and organizations|length <= 10 %}
			<select name="organization" class="form-control">
				{% for entry in organizations %}
				<option value="{{ entry }}">{{ entry }}</option>
				{% endfor %}
			</select>
			{% elif organizations|length == 1 %}
				{% for k, v in organizations.items %}
			<input name="organization" class="form-control" type="text" value="{{ k }}" disabled />
				{% endfor %}
			{% else %}
			<div class="alert alert-info" role="alert">Aucune organisation n'est disponible</div>
			{% endif %}
			<div class="btn-group-vertical btn-block scrolling-box" style="min-height: 1OO%;" data-toggle="buttons">
				{% for item in organizations %}
				<label for="id_organization_{{ item.pk }}" class="btn btn-radio">
					{% if item.contributeur %}<span class="badge badge-circle"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>{% endif %}
					{% if item.subordinates %}<span class="badge badge-circle"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></span>{% endif %}
					{% if item.rattachement %}<span class="badge badge-circle"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>{% endif %}
					{{ item.name }}
					<input type="radio" name="organizations" value="{{ item.pk }}" id="id_organization_{{ item.pk }}"></input>
				</label>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-8">
			<div class="buttons-on-the-right-side">
				<a href='{% url "idgo_admin:create_organization" %}' class="btn btn-primary">Ajouter une organisation</a>
			</div>
			<div id='organization_well' class="well">
				<!-- template -->
			</div>
		</div>
	</div>
</div>

<script>
$(function() {

	const openModalDelete = function(organizationId, username, target) {

		const $button = $('<button/>')
			.prop('type', 'button')
			.prop('class', 'btn btn-danger disabled')
			.prop('disabled', true)
			.text('Oui, je confirme')
			.on('click', function(e) {
				e.preventDefault();
				closeAllModalDialog();
				$.ajax({
					type: 'DELETE',
					url: '{% url "idgo_admin:all_members" %}?organization=' + organizationId + '&username=' + username + '&target=' + target
				})
				.done(function(response, textStatus, jqXHR) {
					location.reload();
				})
				.fail(function(jqXHR, textStatus, errorThrown) {
					location.reload();
				});
				e.stopPropagation();
			});

		const $input = $('<input/>')
			.prop('type', 'text')
			.prop('class', 'form-control')
			.prop('placeholder', 'Nom du compte de l\'utilisateur')
			.on('input', function(e) {
				if ($(this).val() === username) {
					$button.removeClass('disabled').prop('disabled', false);
				} else {
					$button.addClass('disabled').prop('disabled', true);
				};
			});

		$modal.find('.modal-title').text('Êtes-vous absolument sûr ?');

		$modal.find('.modal-body')
			.append(
				$('<form/>')
					.append(
						$('<div/>').prop('class', 'form-group')
							.append('<p>Pour confirmer, veuillez réécrire le nom du compte de l\'utilisateur.</p>')
							.append($input))
					.append(
						$('<div class="buttons-on-the-right-side">')
							.append($button)
							.append('<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>')));

		$modal.modal('show');
	};


	const displayOrganisation = function(data) {

		const ORGANIZATION_ID = data.id;

		const $template = $('#organization_well_template');
		const $content = $($template.prop('content')).clone();
		const $organizationWell = $('#organization_well').empty()

		for (const k in data) {
			if (k == 'logo') {
				$content.find('[name="' + k + '"]').prop('src', data[k]);
			} else {
				$content.find('[name="' + k + '"]').text(data[k]);
			};
		};

		$organizationWell.append($content);

		if (data.members.length > 0) {

			const $btnGroup = $($organizationWell.find('#members .btn-group'));
			const $dropdownButton = $($organizationWell.find('#members .btn-group>button.dropdown-toggle'));
			const $deleteMember = $($btnGroup.find('a[name="delete-member"]'));
			const $deleteContributor = $($btnGroup.find('a[name="delete-contributor"]'));
			const $deleteReferent = $($btnGroup.find('a[name="delete-referent"]'));

			deactivateButton($dropdownButton);
			deactivateButton($deleteMember);
			deactivateButton($deleteReferent);
			deactivateButton($deleteContributor);

			const membersGrid = new EditableGrid('Members', {pageSize: 10});

			const tableId = 'table-members';
			const $table = $('#' + tableId);
			const $parent = $($table.parent());

			membersGrid.initializeGrid = function() {
				const grid = this;

				grid.tableRendered = function(tableId, className) {
					grid.rowSelected(-1, -1);
					grid.updatePaginator(this);
				};

				grid.rowSelected = function(pRowIdx, nRowIdx) {
					$(grid.getRow(pRowIdx)).removeClass('selected');

					const data = grid.getRowValues(nRowIdx);
					const USERNAME = data.username;
					const IS_MEMBER = data.is_member;
					const IS_CONTRIBUTOR = data.is_contributor;
					const IS_REFERENT = data.is_referent;

					$deleteMember.on('click', function(e) {
						e.preventDefault();
						openModalDelete(ORGANIZATION_ID, USERNAME, 'members');
					});
					deactivateButton($deleteMember);

					$deleteContributor.on('click', function(e) {
						e.preventDefault();
						openModalDelete(ORGANIZATION_ID, USERNAME, 'contributors');
					});
					deactivateButton($deleteContributor);

					$deleteReferent.on('click', function(e) {
						e.preventDefault();
						openModalDelete(ORGANIZATION_ID, USERNAME, 'referents');
					});
					deactivateButton($deleteReferent);
					deactivateButton($dropdownButton);

					if (pRowIdx != nRowIdx && !data.is_referent) {
						$(this.getRow(nRowIdx)).addClass('selected');
						IS_MEMBER ? activateButton($deleteMember) : deactivateButton($deleteMember);
						IS_CONTRIBUTOR ? activateButton($deleteContributor) : deactivateButton($deleteContributor);
						IS_REFERENT ?  activateButton($deleteReferent) : deactivateButton($deleteReferent);
						(IS_MEMBER || IS_CONTRIBUTOR || IS_REFERENT) ? activateButton($dropdownButton) : deactivateButton($dropdownButton);
					};

				};

				const booleanRender = function(cell, value) {
					cell.style.textAlign = 'center';
					cell.style.width = '32px';
					cell.innerHTML = (value == true) ? '<span class="glyphicon glyphicon-ok"></span>' : '';
				};

				grid.setCellRenderer('is_member', new CellRenderer({render: booleanRender}));
				grid.setCellRenderer('is_contributor', new CellRenderer({render: booleanRender}));
				grid.setCellRenderer('is_referent', new CellRenderer({render: booleanRender}));
			};

			membersGrid.load({
				'metadata': [
					{
						name: 'username',
						label: 'Utilisateur',
						editable: false,
						datatype: 'string'
					}, {
						name: 'full_name',
						label: 'Nom',
						editable: false,
						datatype: 'string'
					}, {
						name: 'is_member',
						label: 'Membre',
						editable: false,
						datatype: 'boolean'
					}, {
						name: 'is_contributor',
						label: 'Contributeur',
						editable: false,
						datatype: 'boolean'
					}, {
						name: 'is_referent',
						label: 'Référent technique',
						editable: false,
						datatype: 'boolean'
					}, {
						name: 'datasets_count',
						label: 'Nombre de jeux de données',
						editable: false,
						datatype: 'integer'
					}, {
						name: 'id',
						label: '_HIDDEN',
						editable: false,
						datatype: 'integer'
					}
				],
				'data': (function(data) {
					const m = [];
					for (let i in data) {
						m.push({
							id: i,
							values: [
								data[i].username,
								data[i].full_name,
								data[i].is_member,
								data[i].is_contributor,
								data[i].is_referent,
								data[i].datasets_count,
								data[i].profile_id
							]
						});
					};
					return m;
				})(data.members)
			});

			membersGrid.renderGrid(tableId, 'table table-striped table-bordered table-hover table-condensed');
			membersGrid.initializeGrid();
			membersGrid.refreshGrid();

			$table.show();

		} else {
			$organizationWell.find('#members .tab-pane-content .buttons-on-the-right-side').hide();
			$organizationWell.find('#members .tab-pane-content').prepend('<div role="alert" class="alert alert-info">Aucun utilisateur.<div/>');
		};

		{% for item in subordinates %}
		if (data['id'] == {{ item.0 }}) {
			$('#organization_well .tab-pane#info').append('<div class="buttons-on-the-right-side"><a href="{% url "idgo_admin:edit_organization" id=item.0 %}" name="edit" type="button" class="btn btn-default">Editer</a></div>');
		};
		{% endfor %}

	};

	const getOrganization = function(id) {
		$.ajax({
			url: '/organization/' + id,
			success: function(data, status, xhr) {
				displayOrganisation(data);
			},
			error : function(resultat, statut, erreur) {
				$('.tab-pane#info').empty();
				$('.tab-pane#info').append("Impossible d'obtenir les informations");
			}
		});
	};

	$('.typeahead[name="organization"]').typeahead({
		source: (function() {
			let arr = [];
			{% for item in organizations %}
			arr.push({id: {{ item.pk }}, 'name': '{{ item.name }}'})
			{% endfor %}
			return arr;
		})(),
		autoSelect: true,
		afterSelect: function(val) {
			selectRowByDataId(val.id);
		}
	});

	$('.typeahead button').click(function(e) {
		alert('TODO');
	});

	const $organizations = $('input[type=radio][name=organizations]').change(function(e) {
		window.location.hash = this.value;
		getOrganization(this.value);
	});

	const selectRowByDataId = function(value) {
		const cache = $organizations.val();
		$organizations.val([value]);
		if ($organizations.val() == cache) {  // UGLY!
			return false;
		};
		const $entry = $('input[type=radio][name=organizations][value=' + value + ']').parent();
		const $container = $('div.scrolling-box');
		$container.animate({
			scrollTop: $entry.offset().top - $container.offset().top + $container.scrollTop() - 7
		}, 303, undefined, function() {
			getOrganization(value);
		});
	};

	$(window).bind('hashchange', function(e) {
		selectRowByDataId(window.location.hash.substring(1));
	});

	selectRowByDataId(window.location.hash.substring(1));  // TODO -> Avant de charger la page

});
</script>
