{% load bootstrap3 %}

{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success' %}
			<div name='message-tags' class="alert alert-success" role="alert">{{ message | escape | safe }}</div>
		{% elif message.tags == 'error' %}
			<div name='message-tags' class="alert alert-danger" role="alert">{{ message | escape | safe }}</div>
		{% elif message.tags == 'info' %}
			<div name='message-tags' class="alert alert-info" role="alert">{{ message | escape | safe }}</div>
		{% endif %}
	{% endfor %}
{% endif %}

<div>
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				{% if organizations|length > 10 %}
				<div class="input-group">
					<input name="organization" type="text" class="form-control typeahead" placeholder="Rechercher l'organisation...">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
				</div>
				{% elif organizations|length > 1 and organizations|length <= 10 %}
				<select name="organization" class="form-control">
					{% for entry in organizations %}
					<option value="{{ entry }}">{{ entry }}</option>
					{% endfor %}
				</select>
				{% else %}
				{% for k, v in organizations.items %}
				<input name="organization" class="form-control" type="text" value="{{ k }}" disabled />
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
	<ul class="nav nav-tabs">
		<li role="presentation">
			<a href="#members" aria-controls="members" role="tab" data-toggle="tab">Liste des membres</a>
		</li>
		<li role="presentation">
			<a href="#contributors" aria-controls="contributors" role="tab" data-toggle="tab">Liste des contributeurs</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="members" role="tabpanel" class="tab-pane fade in">
			<br/>
			<div name="message-alert"></div>
			<div id="table-members" class="table-responsive"></div>
			<nav aria-label="Page navigation" style="text-align: center;">
				<ul id="table-members-paginator" class="pagination pagination-sm"></ul>
			</nav>
		</div>
		<div id="contributors" role="tabpanel" class="tab-pane fade in">
			<br/>
			<div name="message-alert"></div>
			<div id="table-contributors" class="table-responsive"></div>
			<nav aria-label="Page navigation" style="text-align: center;">
				<ul id="table-contributors-paginator" class="pagination pagination-sm"></ul>
			</nav>
		</div>
	</div>
	<div class="buttons-on-the-right-side">
		<button name="delete" class="btn btn-danger" data-toggle="modal" data-target="#modal">Supprimer le status <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
	</div>
</div>
<script>
$(function() {
	let ORGANIZATION_ID, USERNAME;
	const DATA = {{ organizations | safe }};
	const GRID_MEMBERS_NAME = 'Members';
	const GRID_CONTRIBUTORS_NAME = 'Contributors';

	const METADATA = [
		{
			name: 'username',
			label: 'Utilisateur',
			editable: false,
			datatype: 'string'
		}, {
			name: 'first_name',
			label: 'Prénom',
			editable: false,
			datatype: 'string'
		}, {
			name: 'last_name',
			label: 'Nom',
			editable: false,
			datatype: 'string'
		}, {
			name: 'is_referent',
			label: 'Référent',
			editable: false,
			datatype: 'boolean'
		}, {
			name: 'datasets_count',
			label: 'Nombre de jeux de données',
			editable: false,
			datatype: 'integer'
		}, {
			name: 'id',
			label: '_HIDDEN',
			editable: false,
			datatype: 'integer'
		}
	];

	let $button = $('button[name="delete"]')
		.on('click', function(e) {
			e.preventDefault();

			const $button = $('<button/>')
				.prop('type', 'button')
				.prop('class', 'btn btn-danger disabled')
				.prop('disabled', true)
				.text('Oui, je confirme')
				.on('click', function(e) {
					e.preventDefault();
					closeAllModalDialog();
					$.ajax({
						type: 'DELETE',
						url: '{% url "idgo_admin:all_members" %}?organization=' + ORGANIZATION_ID + '&username=' + USERNAME + '&target=' + $('li[role="presentation"].active a[data-toggle="tab"]').attr('href').substring(1)
					})
					.done(function(response, textStatus, jqXHR) {
						location.reload();
					})
					.fail(function(jqXHR, textStatus, errorThrown) {
						location.reload();
					});
					e.stopPropagation();
				});

			const $input = $('<input/>')
				.prop('type', 'text')
				.prop('class', 'form-control')
				.prop('placeholder', 'Nom du compte de l\'utilisateur')
				.on('input', function(e) {
					if ($(this).val() === USERNAME) {
						$button.removeClass('disabled').prop('disabled', false);
					} else {
						$button.addClass('disabled').prop('disabled', true);
					};
				});

			$modal.find('.modal-title').text('Êtes-vous absolument sûr ?');

			$modal.find('.modal-body')
				.append(
					$('<form/>')
						.append(
							$('<div/>').prop('class', 'form-group')
								.append('<p>Pour confirmer, veuillez réécrire le nom du compte de l\'utilisateur.</p>')
								.append($input))
						.append(
							$('<div class="buttons-on-the-right-side">')
								.append($button)
								.append('<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>')));

			$modal.modal('show');

			e.stopPropagation();
		});

	var membersGrid = new EditableGrid(GRID_MEMBERS_NAME, {pageSize: 10});
	var contributorsGrid = new EditableGrid(GRID_CONTRIBUTORS_NAME, {pageSize: 10});

	membersGrid.initializeGrid = function() {
		let grid = membersGrid;

		with (this) {
			tableRendered = function(containerId, className) {
				rowSelected(-1, -1);
				updatePaginator(grid);
			};
			rowSelected = function(pRowIdx, nRowIdx) {
				const data = grid.getRowValues(nRowIdx);
				USERNAME = data.username;
				$(grid.getRow(pRowIdx)).removeClass('selected');
				deactivateButton($button);
				if (pRowIdx != nRowIdx && !data.is_referent) {
					$(grid.getRow(nRowIdx)).addClass('selected');
					activateButton($button);
				};
			};
			setCellRenderer('is_referent', new CellRenderer({
				render: function(cell, value) {
					cell.style.textAlign = 'center';
					cell.style.width = '32px';
					cell.innerHTML = (value == true) ? '<span class="glyphicon glyphicon-ok"></span>' : '';
				}
			}));
		};
	};

	contributorsGrid.initializeGrid = function() {
		let grid = contributorsGrid;

		with (this) {
			tableRendered = function(containerId, className) {
				rowSelected(-1, -1);
				updatePaginator(grid);
			};
			rowSelected = function(pRowIdx, nRowIdx) {
				const data = grid.getRowValues(nRowIdx);
				USERNAME = data.username;
				$(grid.getRow(pRowIdx)).removeClass('selected');
				deactivateButton($button);
				if (pRowIdx != nRowIdx && !data.is_referent) {
					$(grid.getRow(nRowIdx)).addClass('selected');
					activateButton($button);
				};
			};
			setCellRenderer('is_referent', new CellRenderer({
				render: function(cell, value) {
					cell.style.textAlign = 'center';
					cell.style.width = '32px';
					cell.innerHTML = (value == true) ? '<span class="glyphicon glyphicon-ok"></span>' : '';
				}
			}));
		};
	};

	function updateMembersGrid(grid, containerId, metadata, data) {
		let $containerId = $('#' + containerId);
		let $parent = $($containerId.parent());
		let $alert = $parent.find('div[name="message-alert"]');

		if (data.length > 0) {
			grid.load({'metadata': metadata, 'data': data});
			grid.renderGrid(containerId, 'table table-striped table-bordered table-hover table-condensed');
			grid.initializeGrid();
			grid.refreshGrid();
			$containerId.show();
		} else {
			$containerId.hide();
		};
		if (data.length == 0) {
			$alert.prepend('<div role="alert" class="alert alert-info">Aucun utilisateur membre.<div/>');
		} else {
			$alert.empty();
		};
	};

	function updateContributorsGrid(grid, containerId, metadata, data) {
		let $containerId = $('#' + containerId);
		let $parent = $($containerId.parent());
		let $alert = $parent.find('div[name="message-alert"]');

		if (data.length > 0) {
			grid.load({'metadata': metadata, 'data': data});
			grid.renderGrid(containerId, 'table table-striped table-bordered table-hover table-condensed');
			grid.initializeGrid();
			grid.refreshGrid();
			$containerId.show();
		} else {
			$containerId.hide();
		};
		if (data.length == 0) {
			$alert.prepend('<div role="alert" class="alert alert-info">Aucun utilisateur contributeur.<div/>');
		} else {
			$alert.empty();
		};
	};

	const updateGrids = function(key) {
		ORGANIZATION_ID = DATA[key].id;

		const format = function(data) {
			const m = [];
			for (let i in data) {
				m.push({
					id: i,
					values: [
						data[i].username,  // username
						data[i].first_name,  // first_name
						data[i].last_name,  // last_name
						data[i].is_referent,  // is_referent
						data[i].nb_datasets,  // datasets_count
						data[i].profile_id  // id
					]
				});
			};
			return m;
		};
		updateMembersGrid(membersGrid, 'table-members', METADATA, format(DATA[key].members));
		updateContributorsGrid(contributorsGrid, 'table-contributors', METADATA, format(DATA[key].contributors));
	};

	$('a[data-toggle="tab"][href="#contributors"]').on('hide.bs.tab', function(e) {
		rowId = contributorsGrid.lastSelectedRowIndex;
		contributorsGrid.rowSelected(rowId, rowId);
	});

	$('a[data-toggle="tab"][href="#members"]').on('hide.bs.tab', function(e) {
		rowId = membersGrid.lastSelectedRowIndex;
		membersGrid.rowSelected(rowId, rowId);
	});

	deactivateButton($button);

	{% if organizations|length > 10 %}
	$button.hide();
	const $alert = $('div[role="tabpanel"] div[name="message-alert"]').prepend('<div class="alert alert-warning">Sélectionner une organisation.</div>');
	$('.typeahead[name="organization"]').typeahead({
		source: (function(data) {
			let arr = [];
			for (const key in data) {
				arr.push(key);
			};
			return arr;
		})(DATA),
		afterSelect: function(val) {
			$alert.empty();
			$button.show();
			updateGrids(val);
		}
	});
	$('.typeahead button').click(updateGrids);

	{% elif organizations|length > 1 and organizations|length <= 10 %}

	const $select = $('select[name="organization"]').change(function() {
		updateGrids($select.val());
	});

	if ($select.val()) {
		updateGrids($select.val());
	};

	{% else %}

	updateGrids($('input[name="organization"]').val());

	{% endif %}

});
</script>
