{% load bootstrap3 %}

{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success' %}
			<div name='message-tags' class="alert alert-success" role="alert">{{ message | escape | safe }}</div>
		{% elif message.tags == 'error' %}
			<div name='message-tags' class="alert alert-danger" role="alert">{{ message | escape | safe }}</div>
		{% elif message.tags == 'info' %}
			<div name='message-tags' class="alert alert-info" role="alert">{{ message | escape | safe }}</div>
		{% endif %}
	{% endfor %}
{% endif %}

<form method="post" action="" enctype="multipart/form-data">
	<div class="buttons-on-the-right-side">
		{% if resource_ckan_id %}
		<a class="btn btn-default" target="_blank" href="{{ ckan_url }}/dataset/{{ dataset_ckan_slug }}/resource/{{ resource_ckan_id }}">Ouvrir dans CKAN</a>
		{% endif %}
	</div>
	<br/>
	{% csrf_token %}
	<div class="row">
		<div class="col-xs-12">
			{% if mode %}
				<div class="well">
				{% if mode == 'up_file' %}
					{% bootstrap_field form.up_file %}
				{% elif mode == 'dl_url' %}
					{% bootstrap_field form.dl_url %}
				{% elif mode == 'referenced_url' %}
					{% bootstrap_field form.referenced_url %}
				{% endif %}
				</div>
			{% else %}
			<ul class="nav nav-tabs" name="data-selector" role="tablist">
				<li role="presentation">
					<a name="up_file" href="#up_file" aria-controls="up_file" role="tab" data-toggle="tab">Téléverser un fichier</a>
				</li>
				<li role="presentation">
					<a name="dl_url" href="#dl_url" aria-controls="dl_url" role="tab" data-toggle="tab">Télécharger depuis une URL</a>
				</li>
				<li role="presentation">
					<a name="referenced_url" href="#referenced_url" aria-controls="referenced_url" role="tab" data-toggle="tab">Référencer une URL</a>
				</li>
			</ul>
			<div class="well tab-content" name="data-selector-panel">

				<div role="tabpanel" class="tab-pane" id="up_file">
					{% bootstrap_field form.up_file show_label=False %}
				</div>

				<div role="tabpanel" class="tab-pane" id="dl_url">
					<p>Veuillez indiquer l'URL d'un fichier à télécharger : </p>
					{% bootstrap_field form.dl_url show_label=False %}
				</div>
				<div role="tabpanel" class="tab-pane" id="referenced_url">
					<p>Veuillez indiquer l'URL d'un jeu de données à référencer : </p>
					{% bootstrap_field form.referenced_url show_label=False %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{% bootstrap_field form.name %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{% bootstrap_field form.description %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			{% bootstrap_field form.lang %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			{% bootstrap_field form.format_type %}
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-8">
			{% bootstrap_field form.restricted_level %}
		</div>
	</div>
	<div class="collapse" id="permitted-users">
		<div class="well">
			{% bootstrap_field form.profiles_allowed %}
		</div>
	</div>
	<div class="collapse" id="permitted-organizations">
		<div class="well">
			{% bootstrap_field form.organisations_allowed %}
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-12">
			<p>* Les champs marqués d'un astérisque sont obligatoires.</p>
		</div>
	</div>
	<div class="buttons-on-the-right-side">
		<a class="btn btn-default" href="{% url "idgo_admin:dataset" %}?id={{ dataset_id }}#resources">Annuler</a>
		<button type="submit" name="save" class="btn btn-primary">Enregistrer</button>
		{% if resource_ckan_id %}
		<a class="btn btn-default" target="_blank" href="{{ ckan_url }}/dataset/{{ dataset_ckan_slug }}/resource/{{ resource_ckan_id }}">Ouvrir dans CKAN</a>
		{% endif %}
	</div>
</form>

<script>
$(function() {

	var $permittedUsers = $('#permitted-users')
		.collapse({
			toggle: false
		})
		.on('hidden.bs.collapse', function() {
			$('#collapse-restriction input').each(function(i) {
				$(this).val('');
			});
		});

	var $permittedOrganizations = $('#permitted-organizations')
		.collapse({
			toggle: false
		})
		.on('hidden.bs.collapse', function() {
			$('#collapse-restriction input').each(function(i) {
				$(this).val('');
			});
		});

	function getAccessSelectedOption($this) {
		var value = $this.find('option:selected').val();
		if (value === '2') {
			$permittedOrganizations.collapse('hide');
			$permittedUsers.collapse('show');
		}
		else if (value === '4') {
			$permittedUsers.collapse('hide');
			$permittedOrganizations.collapse('show');
		}
		else {
			$permittedUsers.collapse('hide');
			$permittedOrganizations.collapse('hide');
		};
	};

	$selectAccess = $('select[name="restricted_level"]')
		.change(function() {
			getAccessSelectedOption($(this));
		});

	$(document).on('change', ':file', function() {
		var $this = $(this);
		var $files = $this.get(0).files;
		var count = $files ? $files.length : 1;
		if (count == 1) {
			if ($files[0].type && $files[0].extension) {
				$('#id_format_type option').each(function() {
					if ($files[0].extension.toLowerCase() == this.text.toLowerCase()) {
						$('#id_format_type option[value="' + this.value + '"]').prop('selected', true);
					};
				});
				$('input[name="data_format"]').val($files[0].extension);
			};
		};
	});

	var $input = $('input[type="file"]').change(function(e) {
		if ($input.val().length > 0) {
			// TODO
		};
	});

	$(document).ready(function() {
		getAccessSelectedOption($('select[name="restricted_level"]'));
	});
});
</script>
