{% load bootstrap3 %}

<form method="post" action="">
	{% csrf_token %}
	{% bootstrap_field rform.name %}
	{% bootstrap_field rform.description %}
	{% bootstrap_field rform.lang %}
	{% bootstrap_field rform.format %}
	{% bootstrap_field rform.projection %}
	{% bootstrap_field rform.resolution %}
	{% bootstrap_field rform.acces %}
	{% bootstrap_field rform.geo_restriction %}
	{% bootstrap_field rform.dataset %}
	{% bootstrap_field rform.type %}
	{% bootstrap_field rform.fichier %}
	{% bootstrap_field rform.url %}
	{% bootstrap_field rform.rfile %}
	<div class="buttons-on-the-right-side">
		<button type="submit" class="btn btn-default">Enregistrer</button>
		<a class="btn btn-default" href="{% url "profiles:home" %}">Annuler</a>
	</div>
</form>

<script>

</script>
