{% load bootstrap3 %}

<h1>Création d'un compte</h1>
<br />
<form method="post" action="">
	{% csrf_token %}
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			{% bootstrap_field uform.first_name show_label=False %}
		</div>
		<div class="col-xs-12 col-sm-6">
			{% bootstrap_field uform.last_name show_label=False %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			{% bootstrap_field uform.username show_label=False %}
		</div>
		<div class="col-xs-12 col-sm-8">
			{% bootstrap_field uform.email show_label=False %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			{% bootstrap_field uform.password1 show_label=False %}
		</div>
		<div class="col-xs-12 col-sm-6">
			{% bootstrap_field uform.password2 show_label=False %}
		</div>
	</div>
	<hr />
	<div id="collapse-one" class="collapse in">
		<p>Sélectionnez dans la liste ci-dessous l'organisme auquel vous êtes rattaché</p>
		{% bootstrap_field pform.organisation show_label=False %}
		{% bootstrap_field pform.is_new_orga %}
		<p>Si celui-ci n'est pas dans la liste, vous pouvez <a id="add-organization" type="button">indiquer un nouvel organisme</a>. </p>
	</div>
	<div id="collapse-two" class="collapse">
		<div class="well">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<p>Veuillez indiquer ci-dessous le nom et l'URL du site internet de l'organisme auquel vous êtes rattaché. </p>
			<p>Une demande de création d'organisme est soumise à l'administrateur du site pour validation. </p>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					{% bootstrap_field pform.new_orga show_label=False %}
					{% bootstrap_field pform.description show_label=False %}
					{% bootstrap_field pform.new_website show_label=False %}
					{% bootstrap_field pform.organisation_type show_label=False %}
					{% bootstrap_field pform.financeur show_label=False %}
					{% bootstrap_field pform.license show_label=False %}
				</div>
				<div class="col-xs-12 col-sm-6">					
					{% bootstrap_field pform.code_insee show_label=False %}
					{% bootstrap_field pform.adresse show_label=False %}
					{% bootstrap_field pform.code_postal show_label=False %}
					{% bootstrap_field pform.ville show_label=False %}
					{% bootstrap_field pform.org_phone show_label=False %}
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			{% bootstrap_field pform.role show_label=False %}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			{% bootstrap_field pform.phone show_label=False %}
		</div>
	</div>
	<div class="buttons-on-the-right-side">
		<a class="btn btn-default" href="{% url "idgo_admin:signIn" %}">Revenir</a>
		<button type="submit" class="btn btn-primary">Valider</button>
	</div>
</form>
<script>
var $collapseOne = $('#collapse-one')
	.collapse({
		toggle: false
	})
	.on('hidden.bs.collapse', function() {
		$('#collapse-one select').each(function(i) {
			$(this)[0].selectedIndex = 0;
		});
	});

var $collapseTwo = $('#collapse-two')
	.collapse({
		toggle: false
	})
	.on('hidden.bs.collapse', function() {
		$('#collapse-two input').each(function(i) {
			$(this).val('');
		});
	});

function tggl() {
	$collapseOne.collapse('toggle');
	$collapseTwo.collapse('toggle');
};

$('#add-organization').click(tggl);
$('#collapse-two .close').click(tggl);

window.onload = function(e) {
	{% if pform.new_website.value or pform.new_orga.value %} tggl(); {% endif %}
};
</script>
