{% load bootstrap3 %}

<div id="collapse-one" class="collapse in">
	<p>Sélectionnez dans la liste ci-dessous votre organisation</p>
	<div class="row">
		<div class="col-sm-9">
			{% bootstrap_field pform.organisation show_label=False %}
		</div>
	</div>
	<p>Si celle-ci n'est pas dans la liste, vous pouvez <a id="add-organization" type="button">indiquer une nouvelle organisation</a>. </p>
</div>
<div id="collapse-two" class="collapse">
	<div class="well">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4>Formulaire de création d'une organisation</h4>
		<br />
		<p>Toute demande de création d'organisation est soumise à l'administrateur du site pour validation. </p>
		<br />
		<div class="row">
			<div class="col-sm-8">
				{% bootstrap_field pform.new_orga show_label=False %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				{% bootstrap_field pform.logo%}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				{% bootstrap_field pform.address show_label=False %}
			</div>
			<div class="col-sm-3">
				{% bootstrap_field pform.postalcode show_label=False %}
			</div>
			<div class="col-sm-4">
				{% bootstrap_field pform.city show_label=False %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				{% bootstrap_field pform.org_phone show_label=False %}
			</div>
			<div class="col-sm-6">
				{% bootstrap_field pform.website show_label=False %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				{% bootstrap_field pform.description show_label=False %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				{% bootstrap_field pform.code_insee %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				{% bootstrap_field pform.organisation_type %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				{% bootstrap_field pform.financier %}
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-sm-6">
				{# {% bootstrap_field pform.status %} #}
			</div>
		</div> -->
		<div class="row">
			<div class="col-sm-6">
				{% bootstrap_field pform.license %}
			</div>
		</div>
		<!-- <div class="row">#}
			<div class="col-xs-12">
				{# {% bootstrap_field pform.referent_requested show_label=False %} #}
			</div>
		</div> -->
	</div>
</div>
{% bootstrap_field pform.contribution_requested show_label=False %}
