{% load bootstrap3 %}

<h2 class="modal-title">Êtes-vous absolument sûr ?</h2>
<br/>
<p>Vous êtes sur le point de supprimer votre compte.</p>
<p>Cette action est irreversible et supprimera <strong>définitivement</strong> votre compte.</p>
<p>Pour confirmer, veuillez réécrire votre identifiant de connexion ainsi que votre mot de passe.</p>
<form method="post" action="">
	{% csrf_token %}
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			{% bootstrap_field uform.username show_label=False %}
		</div>
		<div class="col-xs-12 col-sm-6">
			{% bootstrap_field uform.password show_label=False %}
		</div>
	</div>
	<div class="buttons-on-the-right-side">
		<a class="btn btn-default" href="{% url "idgo_admin:home" %}">Annuler</a>
		<button type="submit" class="btn btn-danger">Supprimer définitivement mon compte</button>
	</div>
</form>
