{% load bootstrap3 %}

<h2 class="modal-title">Êtes-vous absolument sûr ?</h2>
<br/>
<p>Vous allez mettre fin à votre rôle en tant que contributeur à une organisation.</p>
<p>Vous devrez refaire une demande de contribution afin de pouvoir produire des jeux de donnée au compte de cette organisation.</p>
<p>Veuillez selectionner le nom de l'organisation à laquelle vous ne désirez plus contribuer.</p>
<form method="post" action="">
	{% csrf_token %}
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			{% bootstrap_field pubform.publish_for show_label=False %}
		</div>
	</div>
	<div class="buttons-on-the-right-side">
		<a class="btn btn-default" href="{% url "idgo_admin:home" %}">Annuler</a>
		<button type="submit" class="btn btn-danger">Supprimer mon role en tant que contributeur</button>
	</div>
</form>
