{% load bootstrap3 %}

<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
		<div name="data-selector" class="btn-group btn-group-justified" data-toggle="buttons">
			<label class="btn btn-default active">
				<input type="radio" name="options" value="up_file" autocomplete="off" checked> Téléverser un fichier
			</label>
			<label class="btn btn-default">
				<input type="radio" name="options" value="url1" autocomplete="off"> Télécharger depuis une URL
			</label>
			<label class="btn btn-default">
				<input type="radio" name="options" value="url2" autocomplete="off"> Référencer une URL
			</label>
		</div>
		<div class="well" name="data-selector-panel">
			<div name="up_file" class="form-group">
				<p>Veuillez séléctionner un ou plusieurs fichiers... (TODO: texte explicatif)</p>
				{% for widget in rform.up_file %}
				<div class="input-group">
					<label class="input-group-btn">
						<span class="btn btn-default">
							Parcourir... <input id="{{ widget.attrs.id }}" name="{{ widget.name }}" type="file" style="display: none;" multiple></input>
						</span>
					</label>
					<input type="text" class="form-control" readonly></input>
				</div>
				{% endfor %}
			</div>
			<div name="url1" class="form-group" style="display: none;">
				<p>Veuillez indiquer l'URL d'un jeu de données à télécharger... (TODO: texte explicatif)</p>
				{% for widget in rform.dl_url %}
				<input id="{{ widget.attrs.id }}" name="{{ widget.name }}" type="text" class="form-control"></input>
				{% endfor %}
			</div>
			<div name="url2" class="form-group" style="display: none;">
				<p>Veuillez indiquer l'URL d'un jeu de données à référencer (TODO: texte explicatif)</p>
				{% for widget in rform.referenced_url %}
				<input id="{{ widget.attrs.id }}" name="{{ widget.name }}" type="text" class="form-control"></input>
				{% endfor %}
			</div>
		</div>
	</div>
	{% bootstrap_field rform.name %}
	{% bootstrap_field rform.description %}
	{% bootstrap_field rform.lang %}
	{% bootstrap_field rform.data_format %}
	{% bootstrap_field rform.access %}
	<div class="buttons-on-the-right-side">
		<button type="submit" name="save" class="btn btn-default">Enregistrer</button>
		<a class="btn btn-default" href="{% url "idgo_admin:dataset" %}?id={{ dataset_id }}#dataset">Annuler</a>
	</div>
</form>
<script>
$(function() {
	$('div[name="data-selector"] input[type=radio]').on('change', function() {
		$('.well>div').each(function(){
			$(this).hide();
			$('input[type="file"]').val('');
			$('input[type="text"]').val('');
		});
		$('.well>div[name="' + this.value + '"]').show();
	});
	$(document).on('change', ':file', function() {
		var $this = $(this);
		var $files = $this.get(0).files;
		var count = $files ? $files.length : 1;
		var fileName = [];
		for (var i = 0; i < $files.length; i ++) {
			fileName.push($files[i].name);
		};
		$this.trigger('fileselect', [count, fileName.join(', ')]);
	});
	$(document).ready(function() {
		$(':file').on('fileselect', function(e, count, label) {
			var $this = $(this);
			var $input = $this.parents('.input-group').find(':text');
			$input.val((count > 1) ? count + ' fichiers : ' + label : label);
		});
	});
});
</script>
