{% load bootstrap3 %}

<template id="organization_well_template">
	<div>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#info" aria-controls="info" role="tab" data-toggle="tab">Informations générales</a>
			</li>
			<li role="presentation">
				<a href="#members" aria-controls="members" role="tab" data-toggle="tab">Utilisateurs</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="info">
				<div class="tab-pane-content">
					<div class="row">
						<div class="col-sm-9">
							<h3 name="name"></h3>
						</div>
						<div class="col-sm-3">
							<img name="logo" alt="" src="/static/img/logo_paca.jpg"></img>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p name="description"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 contact">
							<div>CONTACT</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<hr />
							<div class="row">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-md-12">
											<span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span name="address"></span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<span class="glyphicon glyphicon-home" style="color:#fcfcfc;" aria-hidden="true"></span> <span name="postcode"></span> <span name="city"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <span name="phone"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a name="email"></a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a target="_blank" name="website"></a></span>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<button role="button" name="switch-member" class="btn btn-default btn-block">J'appartiens à l'organisation</button>
							<button role="button" name="switch-contributor" class="btn btn-default btn-block">Je souhaite devenir contributeur</button>
							{% if not is_admin %}<button role="button" name="switch-referent" class="btn btn-default btn-block">Je souhaite devenir référent technique</button>{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="members">
				<div class="tab-pane-content">
					<div id="table-members" class="table-responsive"></div>
					<nav aria-label="Page navigation" style="text-align: center;">
						<ul id="table-members-paginator" class="pagination pagination-sm"></ul>
					</nav>
					<div class="buttons-on-the-right-side">
						<button role="button" name="ckan-card" class="btn btn-default">Ouvrir la fiche Ckan</button>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Supprimer un statut <span class="glyphicon glyphicon-triangle-bottom" style="top: 0.2em"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a role="button" name="delete-member" style="text-align: right;" data-toggle="modal" data-target="#modal">Supprimer le statut de membre</a></li>
								<li><a role="button" name="delete-contributor" style="text-align: right;" data-toggle="modal" data-target="#modal">Supprimer le statut de contributeur</a></li>
								<li><a role="button" name="delete-referent" style="text-align: right;" data-toggle="modal" data-target="#modal">Supprimer le statut de référent technique</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

{% include "idgo_admin/alert_messages.html" %}

<div id="allorganizations">
	{% if awaiting_member_status or awaiting_contributor_status|length > 0 or awaiting_referent_statut|length > 0 %}
	<div class="alert alert-info">
		{% if awaiting_member_status|length > 0 %}
		<p><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>Demande de <strong>rattachement</strong> à l'organisation « <strong>{{ awaiting_member_status.1 }}</strong> » en attente de validation.</p>
		{% endif %}
		{% if awaiting_contributor_status|length > 0 %}
		<p><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>Demande(s) de statut de <strong>contributeur</strong> en attente de validation pour : {% for organization in awaiting_contributor_status %}<strong class="comma-separated-list">{{ organization.1 }}</strong>{% endfor %}</p>
		{% endif %}
		{% if awaiting_referent_statut|length > 0 %}
		<p><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>Demande(s) de statut de <strong>référent technique</strong> en attente de validation pour : {% for organization in awaiting_referent_statut %}<strong class="comma-separated-list">{{ organization.1 }}</strong>{% endfor %}</p>
		{% endif %}
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-4">
			{% if organizations|length > 10 %}
			<div class="input-group">
				<input name="organization" type="text" class="form-control typeahead" placeholder="Rechercher l'organisation...">
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
			{% elif organizations|length > 1 and organizations|length <= 10 %}
			<select name="organization" class="form-control">
				{% for entry in organizations %}
				<option value="{{ entry }}">{{ entry }}</option>
				{% endfor %}
			</select>
			{% elif organizations|length == 1 %}
				{% for k, v in organizations.items %}
			<input name="organization" class="form-control" type="text" value="{{ k }}" disabled />
				{% endfor %}
			{% else %}
			<div class="alert alert-info" role="alert">Aucune organisation n'est disponible</div>
			{% endif %}
			<div class="btn-group-vertical btn-block scrolling-box" data-toggle="buttons">
				{% for item in organizations %}
				<label for="id_organization_{{ item.pk }}" class="btn btn-radio">
					<span class="label-name">{{ item.name }}</span>
					<span class="label-badges">
						{% if item.contributor %}<span class="badge badge-circle"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></span>{% endif %}
						{% if item.referent %}<span class="badge badge-circle"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></span>{% endif %}
						{% if item.member %}<span class="badge badge-circle"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>{% endif %}
					</span>

					<input type="radio" name="organizations" value="{{ item.pk }}" id="id_organization_{{ item.pk }}"></input>
				</label>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-8">
			<div class="buttons-on-the-right-side">
				<a href='{% url "idgo_admin:create_organization" %}' class="btn btn-primary">Ajouter une organisation</a>
			</div>
			<div id='organization_well' class="well">
				<!-- template -->
			</div>
		</div>
	</div>
</div>

<script>

$(window).ready(function(e) {
	const hash = window.location.hash.substring(1)
	// TODO
	// Label name (list) : auto width
	$.each($('.label-name'), function(){
		var span_badges_width = ($(this).next( ".label-badges" ).width())+5;
		$(this).width("calc(100% - "+span_badges_width+"px)");
	})
})

$(function() {

	const openModalDelete = function(organizationId, username, target) {
		const $button = $('<button/>')
			.prop('type', 'button')
			.prop('class', 'btn btn-danger disabled')
			.prop('disabled', true)
			.text('Oui, je confirme')
			.on('click', function(e) {
				e.preventDefault();
				closeAllModalDialog();
				$.ajax({
					type: 'DELETE',
					url: '{% url "idgo_admin:all_members" %}?organization=' + organizationId + '&username=' + username + '&target=' + target
				})
				.done(function(response, textStatus, jqXHR) {
					location.reload();
				})
				.fail(function(jqXHR, textStatus, errorThrown) {
					location.reload();
				});
				e.stopPropagation();
			});

		const $input = $('<input/>')
			.prop('type', 'text')
			.prop('class', 'form-control')
			.prop('placeholder', 'Nom du compte de l\'utilisateur')
			.on('input', function(e) {
				if ($(this).val() === username) {
					$button.removeClass('disabled').prop('disabled', false);
				} else {
					$button.addClass('disabled').prop('disabled', true);
				};
			});

		$modal.find('.modal-title').text('Êtes-vous absolument sûr ?');
		$modal.find('.modal-body')
			.append($('<form/>')
				.append($('<div/>').prop('class', 'form-group')
					.append('<p>Pour confirmer, veuillez réécrire le nom du compte de l\'utilisateur.</p>').append($input))
				.append($('<div class="buttons-on-the-right-side">')
					.append($button).append('<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>')));

		$modal.modal('show');
	};

	const openModalChangeStatus = function(baseUrl, organizationId) {
		const $button = $('<button/>')
			.prop('type', 'button')
			.prop('class', 'btn btn-primary')
			.text('Oui, je confirme ma demande')
			.one('click', function(e) {
				e.preventDefault();
				closeAllModalDialog();
				$.ajax({
					type: 'GET',
					url: baseUrl + '?id=' + organizationId
				})
				.done(function(response, textStatus, jqXHR) {
					location.reload();
				})
				.fail(function(jqXHR, textStatus, errorThrown) {
					location.reload();
				});
				e.stopPropagation();
			});

			$modal.find('.modal-title').text('Confirmation de votre demande');
			$modal.find('.modal-body')
				.append($('<form/>')
					.append($('<div/>').prop('class', 'form-group')
						.append('<p>Pour confirmer, veuillez cliquer sur le bouton ci-dessous.</p>'))
					.append($('<div class="buttons-on-the-right-side">')
						.append($button).append('<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>')));

		$modal.modal('show');
	};


	const displayOrganisation = function(data) {

		const ORGANIZATION_ID = data.id;

		const isReferent = function() {
			{% for item in referent %}
			if (ORGANIZATION_ID == {{ item.0 }}) {
				return true;
			};
			{% endfor %}
			return false;
		};

		const $template = $('#organization_well_template');
		const $content = $($template.prop('content')).clone();
		const $organizationWell = $('#organization_well').empty()

		for (const k in data) {
			if (k == 'website') {
				$content.find('[name="' + k + '"]').prop('href', data[k]);
			};
			if (k == 'email') {
				$content.find('[name="' + k + '"]').prop('href', 'mailto:' + data[k] + '?subject=Datasud');
			};
			if (k == 'logo') {
				$content.find('[name="' + k + '"]').prop('src', data[k]);
			} else {
				$content.find('[name="' + k + '"]').text(data[k]);
			};
		};

		$organizationWell.append($content);

		if (data.members.length > 0) {

			const $ckanUserCard = $($organizationWell.find('button[name="ckan-card"]'));
			const $btnGroup = $($organizationWell.find('#members .btn-group'));
			const $dropdownButton = $($organizationWell.find('#members .btn-group>button.dropdown-toggle'));
			const $deleteMember = $($btnGroup.find('a[name="delete-member"]'));
			const $deleteContributor = $($btnGroup.find('a[name="delete-contributor"]'));
			const $deleteReferent = $($btnGroup.find('a[name="delete-referent"]'));

			deactivateButton($ckanUserCard);
			deactivateButton($dropdownButton);
			deactivateButton($deleteMember);
			deactivateButton($deleteReferent);
			deactivateButton($deleteContributor);

			const membersGrid = new EditableGrid('Members', {pageSize: 10});

			const tableId = 'table-members';
			const $table = $('#' + tableId);
			const $parent = $($table.parent());

			membersGrid.initializeGrid = function() {
				const grid = this;

				grid.tableRendered = function(tableId, className) {
					grid.rowSelected(-1, -1);
					grid.updatePaginator(this);
				};

				grid.rowSelected = function(pRowIdx, nRowIdx) {
					$(grid.getRow(pRowIdx)).removeClass('selected');

					deactivateButton($deleteMember);
					deactivateButton($deleteMember);
					deactivateButton($deleteContributor);
					deactivateButton($deleteReferent);
					deactivateButton($dropdownButton);

					const data = grid.getRowValues(nRowIdx);

					if (nRowIdx > -1) {

						$ckanUserCard.off('click').on('click', function(e) {
							targetBlank('{{ ckan_url }}/user/' + data.username);
						});

						$deleteMember.off('click').on('click', function(e) {
							openModalDelete(ORGANIZATION_ID, data.username, 'members');
						});

						$deleteContributor.off('click').on('click', function(e) {
							openModalDelete(ORGANIZATION_ID, data.username, 'contributors');
						});

						$deleteReferent.off('click').on('click', function(e) {
							openModalDelete(ORGANIZATION_ID, data.username, 'referents');
						});

						if (pRowIdx != nRowIdx) {
							$(this.getRow(nRowIdx)).addClass('selected');
							activateButton($ckanUserCard);
							if (!data.is_referent && (isReferent()) || {{ is_admin | yesno:'true,false,null' }})  {
								data.is_member ? activateButton($deleteMember) : deactivateButton($deleteMember);
								data.is_contributor ? activateButton($deleteContributor) : deactivateButton($deleteContributor);
								data.is_referent ? activateButton($deleteReferent) : deactivateButton($deleteReferent);
								(data.is_member || data.is_contributor || data.is_referent) ? activateButton($dropdownButton) : deactivateButton($dropdownButton);
							};
						};

					};
				};

				const booleanRender = function(cell, value) {
					cell.style.textAlign = 'center';
					cell.style.width = '32px';
					cell.innerHTML = (value == true) ? '<span class="glyphicon glyphicon-ok"></span>' : '';
				};

				grid.setCellRenderer('is_member', new CellRenderer({render: booleanRender}));
				grid.setCellRenderer('is_contributor', new CellRenderer({render: booleanRender}));
				grid.setCellRenderer('is_referent', new CellRenderer({render: booleanRender}));
			};

			membersGrid.load({
				'metadata': [
					{
						name: 'username',
						label: 'Utilisateur',
						editable: false,
						datatype: 'string'
					}, {
						name: 'full_name',
						label: 'Nom',
						editable: false,
						datatype: 'string'
					}, {
						name: 'is_member',
						label: 'Membre',
						editable: false,
						datatype: 'boolean'
					}, {
						name: 'is_contributor',
						label: 'Contributeur',
						editable: false,
						datatype: 'boolean'
					}, {
						name: 'is_referent',
						label: 'Référent technique',
						editable: false,
						datatype: 'boolean'
					}, {
						name: 'datasets_count',
						label: 'Nombre de jeux de données',
						editable: false,
						datatype: 'integer'
					}, {
						name: 'id',
						label: '_HIDDEN',
						editable: false,
						datatype: 'integer'
					}
				],
				'data': (function(data) {
					const m = [];
					for (let i in data) {
						m.push({
							id: i,
							values: [
								data[i].username,
								data[i].full_name,
								data[i].is_member,
								data[i].is_contributor,
								data[i].is_referent,
								data[i].datasets_count,
								data[i].profile_id
							]
						});
					};
					return m;
				})(data.members)
			});

			membersGrid.renderGrid(tableId, 'table table-striped table-bordered table-hover table-condensed');
			membersGrid.initializeGrid();
			membersGrid.refreshGrid();

			$table.show();

		} else {
			$organizationWell.find('#members .tab-pane-content .buttons-on-the-right-side').hide();
			$organizationWell.find('#members .tab-pane-content').prepend('<div role="alert" class="alert alert-info">Aucun utilisateur.<div/>');
		};

		$switchMember = $($organizationWell.find('#info [name="switch-member"]')).on('click', function(e) {
			openModalChangeStatus('{% url "idgo_admin:subscription" status="member" subscription="subscribe" %}', ORGANIZATION_ID);
		});
		if ({{ awaiting_member_status | length }} > 0) {
			deactivateButton($switchMember.off('click'));
		} else if (data['id'] == {{ organization_id }}) {
			$switchMember.off('click').on('click', function(e) {
				openModalChangeStatus('{% url "idgo_admin:subscription" status="member" subscription="unsubscribe" %}', ORGANIZATION_ID);
			}).html('Je <strong>n</strong>\'appartiens <strong>plus</strong> à l\'organisation');
		};

		$switchContributor = $($organizationWell.find('#info [name="switch-contributor"]')).on('click', function(e) {
			openModalChangeStatus('{% url "idgo_admin:subscription" status="contributor" subscription="subscribe" %}', ORGANIZATION_ID);
		});

		const buttonContributorStatus = function() {
			{% for item in contributor %}
			if (data['id'] == {{ item.0 }}) {
				$switchContributor.off('click').on('click', function(e) {
					openModalChangeStatus('{% url "idgo_admin:subscription" status="contributor" subscription="unsubscribe" %}', ORGANIZATION_ID);
				}).html('Je <strong>ne</strong> souhaite <strong>plus</strong> être contributeur');
			};
			{% endfor %}
		};

		{% if awaiting_contributor_status %}
			{% for item in awaiting_contributor_status %}
		data['id'] == {{ item.0 }} ? deactivateButton($switchContributor.off('click')) : buttonContributorStatus();
			{% endfor %}
		{% else %}
		buttonContributorStatus();
		{% endif %}

		$switchReferent = $($organizationWell.find('#info [name="switch-referent"]')).on('click', function(e) {
			openModalChangeStatus('{% url "idgo_admin:subscription" status="referent" subscription="subscribe" %}', ORGANIZATION_ID);
		});

		const addUpdateButton = function(href) {
			$('#organization_well').prepend('<div class="floating-buttons-on-the-right-side"><a href="' + href + '" name="edit" type="button" class="btn btn-default">Editer l\'organisation</a></div>');
		};

		{% if not is_admin %}

		const buttonReferentStatus = function() {
			{% for item in referent %}
			if (data['id'] == {{ item.0 }}) {
				addUpdateButton('{% url "idgo_admin:update_organization" id=item.0 %}');
				$switchReferent.off('click').on('click', function(e) {
					openModalChangeStatus('{% url "idgo_admin:subscription" status="referent" subscription="unsubscribe" %}', ORGANIZATION_ID);
				}).html('Je <strong>ne</strong> souhaite <strong>plus</strong> être référent technique');
			};
			{% endfor %}
		};

			{% if awaiting_referent_statut %}
				{% for item in awaiting_referent_statut %}
		data['id'] == {{ item.0 }} ? deactivateButton($switchReferent.off('click')) : buttonReferentStatus();
				{% endfor %}
			{% else %}
		buttonReferentStatus();
			{% endif %}
		{% endif %}

		{% if is_admin %}
			{% for item in referent %}
			if (data['id'] == {{ item.0 }}) {
				addUpdateButton('{% url "idgo_admin:update_organization" id=item.0 %}');
			};
			{% endfor %}
		{% endif %}

	};

	const getOrganization = function(id) {
		$.ajax({
			url: '{{ organization_base_url }}/' + id,
			success: function(data, status, xhr) {
				displayOrganisation(data);
			},
			error : function(resultat, statut, erreur) {
				$('.tab-pane#info').empty();
				$('.tab-pane#info').append("Impossible d'obtenir les informations");
			}
		});
	};

	$('.typeahead[name="organization"]').typeahead({
		source: (function() {
			let arr = [];
			{% for item in organizations %}
			arr.push({'id': {{ item.pk }}, 'name': '{{ item.name }}'});
			{% endfor %}
			return arr;
		})(),
		autoSelect: true,
		afterSelect: function(val) {
			selectRowByDataId(val.id);
		}
	});

	$('.typeahead button').click(function(e) {
		alert('TODO');
	});

	const $organizations = $('input[type=radio][name=organizations]').change(function(e) {
		window.location.hash = this.value;
		getOrganization(this.value);
	});

	const selectRowByDataId = function(value) {
		const previous = $('input[type=radio][name=organizations]:checked').val()
		$('input[type=radio][name=organizations][value=' + previous + ']').parent().removeClass('active');

		$organizations.val([value]);
		const $entry = $('input[type=radio][name=organizations][value=' + value + ']').parent().addClass('active');
		const $container = $('div.scrolling-box');
		$container.animate({
			scrollTop: $entry.offset().top - $container.offset().top + $container.scrollTop() - 7
		}, 303, undefined, function() {
			getOrganization(value);
		});
	};

	$(window).bind('hashchange', function(e) {
		// selectRowByDataId(window.location.hash.substring(1));
	});

	window.location.hash.substring(1) ? selectRowByDataId(window.location.hash.substring(1)) : selectRowByDataId($organizations.first().val());  // TODO -> Avant de charger la page

});
</script>
