{% load bootstrap3 %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message | escape | safe }}</div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message | escape | safe }}</div>
        {% endif %}
    {% endfor %}
{% endif %}

<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-xs-12">
			{% if mode %}
				<div class="well">
				{% if mode == 'up_file' %}
					{% bootstrap_field form.up_file %}
				{% elif mode == 'dl_url' %}
					{% bootstrap_field form.dl_url %}
				{% elif mode == 'referenced_url' %}
					{% bootstrap_field form.referenced_url %}
				{% endif %}
				</div>
			{% else %}
			<ul class="nav nav-tabs" name="data-selector" role="tablist">
				<li role="presentation">
					<a name="up_file" href="#up_file" aria-controls="up_file" role="tab" data-toggle="tab">Téléverser un fichier</a>
				</li>
				<li role="presentation">
					<a name="dl_url" href="#dl_url" aria-controls="dl_url" role="tab" data-toggle="tab">Télécharger depuis une URL</a>
				</li>
				<li role="presentation">
					<a name="referenced_url" href="#referenced_url" aria-controls="referenced_url" role="tab" data-toggle="tab">Référencer une URL</a>
				</li>
			</ul>
			<div class="well tab-content" name="data-selector-panel">
				<div role="tabpanel" class="tab-pane" id="up_file">
					<p>Veuillez sélectionner un fichier sur votre disque local : </p>
					{% bootstrap_field form.up_file show_label=False %}
				</div>
				<div role="tabpanel" class="tab-pane" id="dl_url">
					<p>Veuillez indiquer l'URL d'un fichier à télécharger : </p>
					{% bootstrap_field form.dl_url show_label=False %}
				</div>
				<div role="tabpanel" class="tab-pane" id="referenced_url">
					<p>Veuillez indiquer l'URL d'un jeu de données à référencer : </p>
					{% bootstrap_field form.referenced_url show_label=False %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			{% bootstrap_field form.name %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{% bootstrap_field form.description %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			{% bootstrap_field form.lang %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			{% bootstrap_field form.data_format %}
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-8">
			{% bootstrap_field form.restricted_level %}
		</div>
	</div>
	<div class="collapse" id="permitted-users">
		<div class="well">
			<!-- <input type="text" class="typeahead" placeholder="Liste d'utilisateurs séparés par la virgule..."></input> -->
			{% bootstrap_field form.users_allowed %}
		</div>
	</div>
	<div class="collapse" id="permitted-organizations">
		<div class="well">
			<!-- <input type="text" class="typeahead" placeholder="Liste d'organisations séparées par la virgule..."></input> -->
			{% bootstrap_field form.organisations_allowed %}
		</div>
	</div>
	<script>
function extractor(query) {
	var result = /([^,]+)$/.exec(query);
	if (result && result[1]) {
		return result[1].trim();
	};
	return '';
};

function updater(item) {
	return this.$element.val().replace(/[^,]*$/,'') + item + ',';
};

function matcher(item) {
	var query = extractor(this.query);
	if (!query) {
		return false;
	};
	return ~item.toLowerCase().indexOf(query.toLowerCase())
};

function highlighter(item) {
	var query = extractor(this.query).replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
	return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
		return '<strong>' + match + '</strong>';
	});
};

$('#permitted-users .typeahead').tagsinput({
	typeahead: {
		source: {{ users | safe }},
		// updater: updater,
		// matcher: matcher,
		// highlighter: highlighter
	},
	freeInput: false
});

$('#permitted-organizations .typeahead').tagsinput({
	typeahead: {
		source: {{ organizations | safe }},
		// updater: updater,
		// matcher: matcher,
		// highlighter: highlighter
	},
	freeInput: false
});

$('#permitted-organizations .typeahead').tagsinput({
	typeahead: {
		source: {{ organizations | safe }},
		updater: updater,
		matcher: matcher,
		highlighter: highlighter
	},
	freeInput: false
});
	</script>
	<div class="buttons-on-the-right-side">
		<button type="submit" name="save" class="btn btn-default">Enregistrer</button>
		<a class="btn btn-default" href="{% url "idgo_admin:dataset" %}?id={{ dataset_id }}#resources">Annuler</a>
	</div>
</form>


<script>
var $permittedUsers = $('#permitted-users')
	.collapse({
		toggle: false
	})
	.on('hidden.bs.collapse', function() {
		$('#collapse-restriction input').each(function(i) {
			$(this).val('');
		});
	});
var $permittedOrganizations = $('#permitted-organizations')
	.collapse({
		toggle: false
	})
	.on('hidden.bs.collapse', function() {
		$('#collapse-restriction input').each(function(i) {
			$(this).val('');
		});
	});
function getAccessSelectedOption($this) {
	var value = $this.find('option:selected').val();
	if (value === '2') {
		$permittedOrganizations.collapse('hide');
		$permittedUsers.collapse('show');
	}
	else if (value === '4') {
		$permittedUsers.collapse('hide');
		$permittedOrganizations.collapse('show');
	}
	else {
		$permittedUsers.collapse('hide');
		$permittedOrganizations.collapse('hide');
	};
};
$selectAccess = $('select[name="restricted_level"]')
	.change(function() {
		getAccessSelectedOption($(this));
	});

$(document).on('change', ':file', function() {
	var $this = $(this);
	var $files = $this.get(0).files;
	var count = $files ? $files.length : 1;
	var fileName = [];
	for (var i = 0; i < $files.length; i ++) {
		fileName.push($files[i].name);
	};
	$this.trigger('fileselect', [count, fileName.join(', ')]);
});

var $input = $('input[type="file"]').change(function(e) {
	if ($input.val().length > 0) {
		// TODO
	};
});

$(document).ready(function() {
	$(':file').on('fileselect', function(e, count, label) {
		var $this = $(this);
		var $input = $this.parents('.input-group').find(':text');
		$input.val((count > 1) ? count + ' fichiers : ' + label : label);
	});
	getAccessSelectedOption($('select[name="restricted_level"]'));
});
</script>
