{% load bootstrap3 %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message | escape | safe }}</div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message | escape | safe }}</div>
        {% endif %}
    {% endfor %}
{% endif %}

<h2 class="modal-title">Mes informations personnelles</h2>
<br/>
<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-xs-6">
			{% bootstrap_field uform.username %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			{% bootstrap_field uform.first_name %}
		</div>
		<div class="col-xs-4">
			{% bootstrap_field uform.last_name %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5">
			{% bootstrap_field uform.email %}
		</div>
		<div class="col-xs-2">
			{% bootstrap_field pform.phone %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-9">
			{% bootstrap_field pform.role %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="well">
				<p>Entrez votre nouveau mot de passe ci-dessous si vous souhaitez le modifier. </p>
				<div class="row">
					<div class="col-xs-8">
						{% bootstrap_field uform.password1 show_label=False %}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-8">
						{% bootstrap_field uform.password2 show_label=False %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
	{% if pform.organisation.field.widget.is_hidden == False %}
		{% include "idgo_admin/inner_manageorganization.html" %}
	{% else %}
	<div class="alert alert-info"><a href="{% url "idgo_admin:organizations" %}">En attente de rattachement</a></div>
	{% endif %}
	<div class="buttons-on-the-right-side">
		<a class="btn btn-default" href="{% url "idgo_admin:home" %}">Annuler</a>
		<button type="submit" class="btn btn-default">Valider les changements</button>
	</div>
	<br />
	<div class="well">
		<h4 class="modal-title">Supprimer mon compte</h4>
		<p>Cette action est irreversible et supprimera définitivement votre compte.</p>
		<div>
			<a class="btn btn-danger" href="{% url "idgo_admin:deleteAccount" %}">Supprimer mon compte</a></li>
		</div>
	</div>
</form>
<script>
var $contributionRequested = $('input[name="contribution_requested"]').parent();
$('select[name="organisation"]').change(function() {
	if (this.value) {
		$contributionRequested.show();
	} else {
		$contributionRequested.hide();
	};
});

var $collapseOne = $('#collapse-one')
	.collapse({
		toggle: false
	})
	.on('hidden.bs.collapse', function() {
		$('#collapse-one select').each(function(i) {
			// $(this)[0].selectedIndex = 0;
			$contributionRequested.show();
		});
	});
var $collapseTwo = $('#collapse-two')
	.collapse({
		toggle: false
	})
	.on('hidden.bs.collapse', function() {
		$('#collapse-two input').each(function(i) {
			$(this).val('');
			$contributionRequested.hide();
		});
	});

function tggl() {
	$collapseOne.collapse('toggle');
	$collapseTwo.collapse('toggle');
};

$('#add-organization').click(tggl);
$('#collapse-two .close').click(tggl);

$contributionRequested.hide();
{% if pform.new_orga.value %} tggl(); {% endif %}

</script>
