{% extends "idgo_admin/base.html" %}

{% block header %}{% endblock header %}
{% block nav %}{% endblock nav %}
{% block breadcrumb %}{% endblock breadcrumb %}
{% block main %}
<div class="outer">
	<div class="v-middle">
		<div class="h-middle" style="width: 606px">
			<p class="message">{{ message | safe }}</p>
			{% if button %}
			<div class="buttons-on-the-right-side">
				<a class="btn btn-default" href="{{ button.href }}">{{ button.label }}</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock main %}
