<ul id="menu" class="nav nav-default" role="tablist">
	{% if is_referent or is_admin  %}
	<li class="dropdown" role="presentation">
		<a name="datasets" class="dropdown-toggle" data-toggle="dropdown" href="#">Les jeux de données <span class="glyphicon glyphicon-triangle-bottom"></span></a>
		<ul class="dropdown-menu dropdown-menu-right">
			<li>
				<a href="{% url "idgo_admin:datasets" %}" aria-controls="datasets" role="tab">Mes jeux de données</a>
			</li>
			<li>
				<a href="{% url "idgo_admin:datasets" target="all" %}" aria-controls="all-datasets" role="tab">Tous les jeux de données</a>
			</li>
			<li>
				<a href="{% url "idgo_admin:datasets" target="harvested" %}" aria-controls="harvested-datasets" role="tab">Jeux de données moissonnés</a>
			</li>
		</ul>
	</li>
	{% else %}
	<li role="presentation">
		<a href="{% url "idgo_admin:datasets" %}" aria-controls="datasets" role="tab">Mes jeux de données</a>
	</li>
	{% endif %}
	<li role="presentation">
		<a href="{% url "idgo_admin:all_organizations" %}" aria-controls="all-organizations" role="tab">Les organisations</a>
	</li>
	{% if is_admin %}
	<li role="presentation">
		<a href="{% url "idgo_admin:jurisdictions" %}" role="tab">Les Territoires</a>
	</li>
	{% endif %}
	{% if is_crige %}
	<li role="presentation">
		<a href="{% url "idgo_admin:extractor_dashboard" %}" role="tab">Mes extractions</a>
	</li>
	{% endif %}
	{% block nav_content_extra %}
	{% endblock nav_content_extra %}
</ul>
