{% extends "idgo_admin/base.html" %}

{% block breadcrumb_content %}
<ol class="breadcrumb">
	<li><a href="{% url "idgo_admin:all_organizations" %}#{{ id }}">Organisations</a></li>
	<li class="active"><a href="{% url "idgo_admin:update_organization" id=id %}#">{{ organisation_name }}</a></li>
</ol>
{% endblock breadcrumb_content %}

{% block main_content %}
{% include "idgo_admin/inner_organization.html" %}
<script>
$(function() {
	$('#menu a[href="{% url "idgo_admin:all_organizations" %}"]').parent().addClass('active');
});
</script>
{% endblock main_content %}
