{% extends "idgo_admin/base.html" %}

{% block nav_content %}
<ol class="breadcrumb">
	<li><a href="{% url "idgo_admin:home" %}#datasets">Mes jeux de données</a></li>
	<li><a href="{% url "idgo_admin:dataset" %}?id={{ dataset_id }}#dataset">{{ dataset_name }}</a></li>
	<li><a href="{% url "idgo_admin:dataset" %}?id={{ dataset_id }}#resources">ressources</a></li>
	<li class="active">{{ resource_name }}</li>
</ol>
{% endblock nav_content %}

{% block main_content %}
{% include "idgo_admin/inner_resource.htm" %}
{% endblock main_content %}
