{% extends "idgo_admin/base.html" %}

{% block breadcrumb_content %}
<ol class="breadcrumb">
	<li>Jeu de données</li>
	<li><a href="{% url "idgo_admin:dataset" %}?id={{ dataset_id }}#dataset">{{ dataset_name }}</a></li>
	<li><a href="{% url "idgo_admin:dataset" %}?id={{ dataset_id }}#resources">ressources</a></li>
	<li class="active">{{ resource_name }}</li>
</ol>
{% endblock breadcrumb_content %}
{% block main_content %}
{% include "idgo_admin/inner_resource.html" %}
<script>
$(function() {
	$('#menu a[href="{% url "idgo_admin:datasets" %}"]').parent().addClass('active');
});
</script>
{% endblock main_content %}
