{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block header %}{% endblock header %}
{% block nav %}{% endblock nav %}
{% block breadcrumb %}{% endblock breadcrumb %}
{% block main %}
<div class="outer">
	<div class="v-middle">
		<div class="h-middle container-signin">
			<div class="panel panel-default">
				<div class="panel-heading">
					<img src="{% static "img/logo_data_sud.jpg" %}"></img>
				</div>
				<div class="panel-body">
					<form id="signin" method="post" action="">
						<label>Saisissez vos identifiants</label>
						{% csrf_token %}
						{% bootstrap_field form.username show_label=False %}
						{% bootstrap_field form.password show_label=False %}
						<div class="row">
							<div class="col-xs-7">
								<div class="checkbox">
									<label>
										<input name="remember-me" type="checkbox"></input> Se souvenir de moi
									</label>
								</div>
							</div>
							<div class="col-xs-5">
								<button type="submit" class="btn btn-block btn-primary">Se connecter</button>
							</div>
						</div>
						<a class="small-link" href="{% url "idgo_admin:sign_up" %}">Pas encore de compte ?</a>
						<br />
						<a class="small-link" href="{% url "idgo_admin:password_manager" process="forget" %}">Mot de passe oublié ?</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(function() {
	$rememberMe = $('input[name="remember-me"]');
	$userName = $('#id_username');
	$password = $('#id_password');
	if (localStorage.checkBoxValidation && localStorage.checkBoxValidation != '') {
		$rememberMe.attr('checked', 'checked');
		$userName.val(localStorage.userName);
		$password.val(localStorage.password);
	} else {
		$rememberMe.removeAttr('checked');
		$userName.val('');
		$password.val('');
	};
	$('form#signin').on('submit', function() {
		if ($rememberMe.is(':checked')) {
			localStorage.userName = $userName.val();
			localStorage.password = $password.val();
			localStorage.checkBoxValidation = $rememberMe.val();
		} else {
			localStorage.userName = '';
			localStorage.password = '';
			localStorage.checkBoxValidation = '';
		};
	});
	$('form').find('input').keypress(function(e) {
		if (e.which == 10 || e.which == 13) {
			$('form').submit();
			return false;
		};
		return;
	});
});
</script>
{% endblock main %}
