{% extends "idgo_admin/base.html" %}

{% load static %}

{% block head_extras %}
<script src="{% static "libs/leaflet/leaflet.js" %}"></script>
<script src="{% static "libs/leaflet/leaflet-nontiledlayer.js" %}"></script>
<script src="{% static "libs/leaflet/leaflet-nontiledlayer-wms.js" %}"></script>
<script src="{% static "libs/leaflet.draw/leaflet.draw.js" %}"></script>
<script src="{% static "libs/bootstrap-slider/bootstrap-slider.js" %}"></script>
<link rel="stylesheet" href="{% static "libs/leaflet/leaflet.css" %}"/>
<link rel="stylesheet" href="{% static "libs/leaflet.draw/leaflet.draw.css" %}"/>
<link rel="stylesheet" href="{% static "libs/bootstrap-slider/css/bootstrap-slider.css" %}"/>
{% endblock head_extras %}

{% block main_content %}

{% include "idgo_admin/alert_messages.html" %}

<div>
	<div class="row">
		<div class="col-xs-4 col-sm-5 col-md-6 col-lg-7">
			<div id="map_well">
				<div id="map" style="height: 650px;"></div>
			</div>
		</div>
		<div class="col-xs-8 col-sm-7 col-md-6 col-lg-5">
			<form>
				<div class="well">
					<div class="form-group">
						<label for="organisation">Organisation</label>
						<div class="input-group input-group">
							<select class="form-control" id="organisation">
								<option disabled {% if not organisation %}selected{% endif %}>Sélectionnez une organisation</option>
								{% for instance in organisations %}
								<option value="{{ instance.id }}" {% if instance.id == organisation.id %}selected{% endif %}>{{ instance.name }}</option>
								{% endfor %}
							</select>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" name="clear">
									<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="dataset">Jeu de données</label>
						<div class="input-group input-group">
							<select class="form-control" id="dataset">
								<option disabled {% if not dataset %}selected{% endif %}>Sélectionnez un jeu de données</option>
								{% for instance in datasets %}
								<option value="{{ instance.id }}" {% if instance.id == dataset.id %}selected{% endif %}>{{ instance.name }}</option>
								{% endfor %}
							</select>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" name="clear">
									<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="resource">Ressource</label>
						<div class="input-group input-group">
							<select class="form-control" id="resource">
								<option disabled {% if not resource %}selected{% endif %}>Sélectionnez une ressource</option>
								{% for instance in resources %}
								<option value="{{ instance.id }}" {% if instance.id == resources.id %}selected{% endif %}>{{ instance.name }}</option>
								{% endfor %}
							</select>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" name="clear">
									<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
								</button>
							</span>
						</div>
					</div>
					<!-- <button class="btn btn-default" type="button" name="zoom-on">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Zoom
					</button> -->
				</div>
				<div class="well">
					<div class="form-group">
						<label for="crs">Système de coordonnées</label>
						<div class="input-group input-group">
							<select class="form-control" id="crs">
								<option disabled selected>Sélectionnez un système de coordonnées</option>
								{% for crs in supported_crs %}
								<option value="{{ crs.authority }}">"{{ crs }}"</option>
								{% endfor %}
							</select>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" name="clear">
									<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="format">Format de données</label>
						<div class="input-group input-group">
							<select class="form-control" id="format">
								<option disabled selected>Sélectionnez un format</option>
							</select>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" name="clear">
									<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="buttons-on-the-right-side">
		<button type="button" name="extract" class="btn btn-primary">Exporter</button>
	</div>
</div>
<script>
$(function() {

	var targetLayer;
	var footprintLayer;

	const $extract = $('button[name="extract"]').click(function(e) {
		e.preventDefault();

		if ((!targetLayer && !map.hasLayer(targetLayer)) ||
			(!footprintLayer && !editableLayers.hasLayer(footprintLayer))) {
			return;
		};

		const layer = targetLayer.options.layers;
		const footprint = JSON.stringify(footprintLayer.toGeoJSON());
		const srs = $('#crs').val();
		const format = $('#format').val();

		const $form = $('form').attr('method', 'POST');
		$form.append($('<input type="text" name="layer"/>').hide().val(layer));
		$form.append($('<input type="text" name="footprint"/>').hide().val(footprint));
		$form.append($('<input type="text" name="srs"/>').hide().val(srs));
		$form.append($('<input type="text" name="format"/>').hide().val(format));

		$form.submit();
	});

	const clear = function($target) {
		$target.is('input[type="checkbox"]') && $target.prop('checked', false);
		$target.is('input[type="text"]') && $target.val('');
		$target.is('select') && $target.val($target.find('option:first').val());
		$target.trigger('change');
	};

	$('form').find('button[name="clear"]').click(function(e) {
		e.preventDefault();
		clear($(this).parent().siblings('input, select'));
	});

	const map = L.map('map').fitBounds([[41.15, -9.86], [51.56, 10.38]]);

	L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
		attribution: 'CartoDB',
	}).addTo(map);

	const editableLayers = new L.FeatureGroup().addTo(map);

	map.addControl(
		new L.Control.Draw({
			position: 'topright',
			draw: {
				polygon: {
					allowIntersection: false,
					drawError: {
						color: '#e1e100',
						message: '<strong>Oh snap!<strong> you can\'t draw that!'
					},
					shapeOptions: {
						color: '#bada55'
					}
				},
				rectangle: {
					shapeOptions: {
						clickable: false
					}
				},
				marker: false,
				polyline: false,
				circle: false,
				circlemarker: false
			},
			edit: {
				featureGroup: editableLayers,
				remove: false
			}
		})
	);

	map.on(L.Draw.Event.CREATED, function (e) {
		if (footprintLayer && editableLayers.hasLayer(footprintLayer)) {
			editableLayers.removeLayer(footprintLayer);
		};
		footprintLayer = e.layer;
		editableLayers.clearLayers().addLayer(footprintLayer);
	});

	$('#organisation').change(function(e) {
		e.preventDefault();
		const organisation = $(this).val();
		redirect('{% url "idgo_admin:extractor" %}' + (organisation ? '?organisation=' + organisation : ''));
	});

	{% if organisation %}
	$('#dataset').change(function(e) {
		e.preventDefault();
		const dataset = $(this).val();
		redirect('{% url "idgo_admin:extractor" %}?organisation={{ organisation.id }}' + (dataset ? '&dataset=' + dataset : ''));
	});
	{% endif %}

	{% if organisation and dataset %}
	$('#resource').change(function(e) {
		e.preventDefault();
		const resource = $(this).val();
		redirect('{% url "idgo_admin:extractor" %}?organisation={{ organisation.id }}&dataset={{ dataset.id }}' + (resource ? '&resource=' + resource : ''));
	});
	{% endif %}

	{% if organisation and dataset and resource and layer %}
	targetLayer = new L.NonTiledLayer.WMS('{% url "idgo_admin:ows_preview" %}', {
		format: 'image/png',
		layers: '{{ layer.mra_info.name }}',
		styles: '{{ layer.mra_info.styles.default }}',
		transparent: true
	});
	map.addLayer(targetLayer);
	{% endif %}

});
</script>
{% endblock main_content %}
